<span class="phone-input">
  +7&nbsp;(&nbsp;
  <input id="digit-id-1" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'1','2',0)">
  <input id="digit-id-2" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'1','3',1)">
  <input id="digit-id-3" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'2','4',2)">
  &nbsp;)&nbsp;
  <input id="digit-id-4" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'3','5',3)">
  <input id="digit-id-5" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'4','6',4)">
  <input id="digit-id-6" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'5','7',5)">
  &nbsp;-&nbsp;
  <input id="digit-id-7" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'6','8',6)">
  <input id="digit-id-8" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'7','9',7)">
  &nbsp;-&nbsp;
  <input id="digit-id-9" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'8','10',8)">
  <input id="digit-id-10" type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="1" (keyup)="changeFocus($event,'9','10',9)">
</span>
