@import "../../shared/theme/conf";
@import "home-page.component.media";

.anim-logo {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 50%;
  img {
    width: 130px;
  }
}

#top, #bottom {
  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  -ms-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
}

.home-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-img {
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  z-index: 8;
}

.invite-title {
  text-align: center;
  width: 100%;
  margin-top: -130px;
  border: 1px solid red;
  p {
    color: $white;
    text-shadow: 1px 1px 1px $black;
    font-family: "Lobster" !important;
    font-size: 42px;
    font-weight: 500;
    &.second-line {
      margin-top: 150px;
    }
  }
}

.invite {
  position: absolute;
  padding: 5px;
  z-index: 7;
  margin: 0 auto;
  top: 30%;
  text-align: center;
  left: 0;
  width: 100%;
  height: 240px;
  color: $white;
  font-size: 52px;
  text-shadow: 1px 1px 1px $black;
  .invite-h {
    font-family: "Lobster";
  }
  .invite-f {
    margin-top: 170px;
    font-family: "Lobster";
  }
}

.about-us {
  width: 100%;
  height: 500px;
  background: $white;
  display: flex;
  flex-direction: row;
  img {
    width: 800px;
    height: 100%;
  }
  .about-container {
    position: absolute;
    left: 45%;
    margin-top: 40px;
    .about-text {
      h2 {
        font-size: 32px;
        color: $primary-text-color;
        font-family: 'Roboto-Condensed-Light' !important;
      }
      p {
        font-size: 22px;
        color: $secondary-text-color;
        font-family: 'Roboto-Condensed-Light' !important;
      }
    }
  }
}

.paralax-container {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 40px;
  span {
    font-weight: 500;
    color: $primary-color-text;
    font-family: "Lobster" !important;
    font-size: 52px;
    text-shadow: 1px 1px 1px $black;
  }
}

//================= МЕНЮ ДНЯ ===========================

.proposal {
  background: url("../../../assets/images/home-bg-1.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .proposal-wrapper {
    background-color: $card-bg;
    padding-top: 60px;
    width: 100%;
    height: 550px;
  }
  &:before {
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.proposal-item {
  border: 1px solid $card-border;
  background-color: $card-content-bg;
  @include box-shadow(0 3px 10px 0 rgba($teal-color, .5));
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  height: 400px;
  margin: 0 10px;
  .desc {
    height: 20px;
    border: 1px solid blue;
  }
  img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: -84px;
  }
  h3 {
    font-size: 24px;
    font-family: Taurus;
    color: $bright-coral;
    text-transform: uppercase;
    padding: 90px 0px 10px 0;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    color: $primary-text-color;
    padding: 15px 8px 25px 8px;
    height: 210px;
  }
}

.proposal-container {
  margin: 0 15%;
  padding-top: 20px;
}

//======================== АКЦИИ И СКИДКИ ===================
.discounts {
  background: url("../../../assets/images/home-bg-2.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  .discounts-wrapper {
    background-color: $card-bg;
    text-align: center;
    width: 100%;
    height: 670px;
  }

  &:before {
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.discount-container {
  display: table;
  margin: 0 auto;
  padding-top: 20px;
}

.discount_item {
  border: 1px solid $card-border;
  @include box-shadow(0 3px 10px 0 rgba($teal-color, .5));
  width: 500px;
  height: 250px;
  margin: 30px 30px;
  .discount-text {
    position: absolute;
    top: 195px;
    left: 250px;
    color: $bright-coral;
    font-weight: 400;
    font-size: 36px;
    font-family: Taurus;
  }
  .img-corner {
    height: 170px;
    width: 500px;
    position: absolute;
    top: 160px;
    left: 30px;
  }
}

.down-icon {
  position: absolute;
  color: $white;
  background-color: $green-bg;
  font-size: 24px;
  border-radius: 50%;
  padding: 10px 20px;
  top: 900px;
  left: 70%;
  transition: all 400ms linear 0s;
  &:hover {
    cursor: pointer;
    background-color: $bright-coral;
    color: $primary-color-text;
  }
}

//================MOBILE AREA =================
.mobile {
  background: url("../../../assets/images/home-bg-3.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .mobile-wrapper {
    background-color: $card-bg;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    .mobile-container {
      width: 50%;
      height: 100%;
      text-align: right;
      padding: 30px;
      background-color: $green-bg;
      .mobile-desc {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .desc-label{
          p{
            font-size: 22px;
            color: $light-gray-text;
            font-family: 'Roboto-Condensed-Light' !important;
          }
        }
        .desc-img{
          margin-left: 10px;
          width:70px;
          height: 70px;
          img{
            width:64px;
            height: 64px;
          }
        }
      }
      h2 {
        font-size: 64px;
        font-weight: 400;
        color: $white;
        font-family: 'Roboto-Condensed-Light' !important;
      }
      p {

      }
    }
    .mobile-phone {
      position: relative;
      left: 3%;
      top: -70px;
      img {
        height: 420px;
      }
    }
    .mobile-btn-grp {
      margin-left: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      .mobile-btn-item {
        position: relative;
        background-color: $card-content-bg;
        width: 220px;
        height: 60px;
        margin-top: 30px;
        padding: 6px;
        text-align: left;
        display: flex;
        flex-direction: row;
        img {
          width: 48px;
        }
        .mobile-label {
          position: absolute;
          height: 18px;
          top: -2px;
          left: 62px;
        }
        p {
          height: 20px;
          font-size: 18px;
          color: $teal-color;
          font-family: 'Roboto-Condensed-Light' !important;
        }
        &:hover {
          cursor: pointer;
        }
      }

    }
  }
  &:before {
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

