@import "../../shared/theme/conf";
@import "home-page.component.media";

.anim-logo {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 50%;
  img {
    width: 130px;
  }
}

.home-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-img{
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  z-index: 8;
}

.invite {
  position: absolute;
  padding: 5px;
  background: rgba($white,0.9);
  z-index: 11;
  margin: 0 auto;
  margin-top: -130px;
  margin-left: -300px;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 240px;
  .invite-container{
    border: 1px solid $dark-green;
    margin: 10px;
    color: $white;
    width: 520px;
    height: 210px;
    text-shadow: 1px 1px 1px $black;
    padding-top: 20px;
  .invite-h{
    text-align: center;
    font-family: "Lobster" !important;
    font-size: 54px;
    font-weight: 400;
    }
    .invite-f{
      text-align: center;
      font-family: "Lobster" !important;
      font-size: 54px;
    }
  }
}
.about-us{
  width:100%;
  height: 500px;
  background: $white;
  display: flex;
  flex-direction: row;
  img{
    width: 800px;
    height: 100%;
  }
  .about-container{
    position: absolute;
    left: 45%;
    margin-top: 40px;
    .about-text{
      h2{
        font-size: 32px;
        color: $primary-text-color;
        font-family: 'Roboto-Condensed-Light'!important;
      }
      p{
        font-size: 22px;
        color: $secondary-text-color;
        font-family: 'Roboto-Condensed-Light'!important;
      }
    }
  }
}

.paralax-container{
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 40px;
  span{
    font-weight: 500;
    color: $primary-color-text;
    font-family: "Lobster" !important;
    font-size: 52px;
    text-shadow: 1px 1px 1px $black;
  }
}
//================= МЕНЮ ДНЯ ===========================

.proposal {
  background: url("../../../assets/images/home-bg-1.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .proposal-wrapper{
    background-color: $card-bg;
    padding-top: 60px;
    width: 100%;
    height:550px;
  }
  &:before{
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
.proposal-item {
  border: 1px solid $card-border;
  background-color: $card-content-bg;
  @include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  height: 400px;
  margin: 0 10px;
  .desc {
    height: 20px;
    border: 1px solid blue;
  }
  img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: -84px;
  }
  h3 {
    font-size: 24px;
    font-family: Taurus;
    color: $bright-coral;
    text-transform: uppercase;
    padding: 90px 0px 10px 0;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    color: $primary-text-color;
    padding: 15px 8px 25px 8px;
    height: 210px;
  }
}
.proposal-container{
  margin: 0 15%;
  padding-top: 20px;
}


//======================== АКЦИИ И СКИДКИ ===================
.discounts {
  background: url("../../../assets/images/home-bg-2.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  .discounts-wrapper{
    background-color: $card-bg;
    text-align: center;
    width: 100%;
    height:670px;
  }

  &:before{
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
.discount-container{
  display: table;
  margin: 0 auto;
  padding-top: 20px;
}
.discount_item {
  border: 1px solid $card-border;
  @include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
  width: 500px;
  height: 250px;
  margin: 30px 30px;
  .discount-text {
    position: absolute;
    top:195px;
    left: 250px;
    color: $bright-coral;
    font-weight: 400;
    font-size: 36px;
    font-family: Taurus;
  }
  .img-corner {
    height: 170px;
    width: 500px;
    position: absolute;
    top:160px;
    left: 30px;
  }
}

.down-icon{
  position: absolute;
  color: $white;
  background-color: $green-bg;
  font-size: 24px;
  border-radius: 50%;
  padding: 10px 20px;
  top: 900px;
  left: 70%;
  transition: all 400ms linear 0s;
  &:hover{
    cursor: pointer;
    background-color: $bright-coral;
    color: $primary-color-text;
  }
}

.up-icon{
  position: absolute;
  color: $white;
  background-color: $green-bg;
  font-size: 24px;
  border-radius: 50%;
  padding: 10px 20px;
  top: 475px;
  left: 15%;
  transition: all 400ms linear 0s;
  &:hover{
    cursor: pointer;
    background-color: $bright-coral;
    color: $primary-color-text;
  }
}


//================MOBILE AREA =================
.mobile{
  background: url("../../../assets/images/home-bg-3.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .mobile-wrapper{
    background-color: $card-bg;
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: row;
    .mobile-container{
      width:50%;
      height: 100%;
      text-align: right;
      padding-top: 60px;
      padding-right: 80px;
      background-color: $green-bg;
      .mobile-desc{
        padding-top: 20px;
      }
      h2{
        font-size: 64px;
        font-weight: 400;
        color: $white;
        font-family: 'Roboto-Condensed-Light'!important;
      }
      p{
        font-size: 22px;
        color: #FEFEFE;
        font-family: 'Roboto-Condensed-Light'!important;
      }
    }
    .mobile-phone{
      position: relative;
      left: 10%;
      top:-70px;
      img{
        height: 420px;
      }
    }
    .mobile-btn-grp{
      margin-left: 20px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      .mobile-btn-item{
        position: relative;
        background-color: $card-content-bg;
        width: 220px;
        height: 60px;
        margin-top: 20px;
        padding: 6px;
        text-align: left;
        display: flex;
        flex-direction: row;
        img{
          width: 48px;
        }
        .mobile-label{
          position: absolute;
          height: 18px;
          top: -2px;
          left: 62px;
        }
        p{
          height: 20px;
          font-size: 18px;
          color: $teal-color;
          font-family: 'Roboto-Condensed-Light'!important;
        }
        &:hover{
          cursor: pointer;
        }
      }

    }
  }
  &:before{
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .mobile-footer{
    width: 100%;
    height: 170px;
    padding-top: 80px;
    padding-left: 30px;
    background-color: rgba($dark-green,0.97);
    text-align: center;
    font-size: 18px;
    color: #FEFEFE;
    font-family: 'Roboto-Condensed-Light'!important;
    text-align: left;
    .mobile-social{
      margin-top: -30px;
      padding-right: 60px;
      float: right;
      //text-align: right;
      .mobile-social-icon{
        width: 64px;
        padding: 8px 12px;
        img{
          width: 64px;
          height: 64px;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
