<ng-container>
  <div class="company-card-wrapper">
    <div class="company-card">
      <div class="company-img">
        <div class="company-logo company-logo-hover" (click)="showMenu(company)" *ngIf="!isDetailInfo">
          <img src="{{logoSrc}}">
        </div>
        <div class="company-logo"  *ngIf="isDetailInfo">
          <img src="{{logoSrc}}">
        </div>
        <div class="company-star">
          <img src="{{starImgSrc}}">
          <span>({{company.commentCount}})</span>
        </div>
      </div>
      <div class="company-info">
        <div class="company-title company-title-hover" (click)="showMenu(company)" *ngIf="!isDetailInfo">
          <h2>{{company.companyName}}</h2>
          <img src="assets/images/icons/in-basket.png" *ngIf="company.isPresentInBasket">
        </div>
        <div class="company-title"  *ngIf="isDetailInfo">
          <h2>{{company.companyName}}</h2>
        </div>
        <div class="row" style="width: 100%">
          <div class="col-sm-3">
            <div class="company-condition">
              <img src="assets/images/icons/menu-list.png">
              <span>Мин. заказ</span>
              <div class="condition-text">
                {{company.delivery}}
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="company-condition">
              <img src="assets/images/icons/delivery.png">
              <span>Доставка</span>
              <div class="condition-text">
                <span>Условия Доставки</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="company-condition">
              <img src="assets/images/icons/cash.png">
              <span>Оплата</span>
              <div class="row condition-text">
                <img src="assets/images/icons/paper-money.png" title="Наличные">
                <img src="assets/images/icons/credit-card.png" title="Банковская карта">
                <img src="assets/images/icons/mobile-market.png" title="Электронные деньги">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="company-condition">
              <img src="assets/images/icons/open.png">
              <span>Работаем</span>
              <div class="condition-text">{{company.weekdayWork}}</div>
              <div class="condition-text">{{company.dayoffWork}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-card-footer" (click)="showMenu(company)" *ngIf="!isDetailInfo">
      <span>Показать полное меню ></span></div>
    <div class="company-card-footer" *ngIf="isDetailInfo">
      <span>Добавить в избранное&nbsp;<i class="far fa-heart"></i></span>
    </div>
  </div>

</ng-container>

