<div class="company-entity">
  <div class="blank-header">&nbsp;</div>
  <img [src]="menuEntity.imageUrl">
  <div class="entity-in-basket" *ngIf="menuEntity.count > 0">
    <img src="assets/images/icons/in-basket.png">
    <p>{{menuEntity.count}}</p>
  </div>
  <div class="company-entity-header" [ngClass]="headerClass">
    <h2>{{menuEntity.displayName}}</h2>
    <p>{{menuEntity.description}}</p>
    <div class="company-entity-pin" (click)="pushPin()">
      <img [src]="pinImg">
    </div>
  </div>

  <div class="company-entity-name" [hidden]="menuEntity.companyName == null" (click)="emitCompanyDetail(menuEntity.companyId)">
    {{menuEntity.companyName}}
  </div>
  <div class="company-entity-footer" [ngClass]="hoverClass"
       (mouseover)="footerMouseOver()" (mouseleave)="footerMouseLeave()">
    <div class="entity-footer-price">
      <div class="wsp-small">
        <p>{{selWeight}}</p>
      </div>
      <div class="wsp-small">
        <p>{{selSize}}</p>
      </div>
      <div class="wsp-medium ">
        <span [ngClass]="animateColor">
        {{selPrice}}&nbsp;р.
          <!--<i class="fas fa-ruble-sign icon"></i>-->
       </span>
      </div>
    </div>
    <div class="company-entity-button" (click)="addToBasket()"
         (mouseover)="addToBasketOver()" (mouseleave)="addToBasketLeave()">
      <i class="fas fa-shopping-basket"></i>
      <span>ЗАКАЗАТЬ</span>
    </div>
    <div class="entity-choose">
      <!--WSP ONE-->
      <div class="entity-footer-price entity-selecting" (click)="selectPrice('One')"
           [ngClass]="{'entity-select':menuEntity.priceOne == selPrice}" *ngIf="isHidden(menuEntity.priceOne)">
        <div class="wsp-small">
          <p>{{menuEntity.weightOne}}</p>
        </div>
        <div class="wsp-small">
          <p>{{menuEntity.sizeOne}}</p>
        </div>
        <div class="wsp-medium">
          <h1>{{menuEntity.priceOne}}<i class="fas fa-ruble-sign icon"></i></h1>
        </div>
      </div>
      <!--WSP TWO-->
      <div class="entity-footer-price entity-selecting" (click)="selectPrice('Two')"
           [ngClass]="{'entity-select':menuEntity.priceTwo == selPrice}"
           *ngIf="isHidden(menuEntity.priceTwo)">
        <div class="wsp-small">
          <p>{{menuEntity.weightTwo}}</p>
        </div>
        <div class="wsp-small">
          <p>{{menuEntity.sizeTwo}}</p>
        </div>
        <div class="wsp-medium">
          <h1>{{menuEntity.priceTwo}}<i class="fas fa-ruble-sign  icon"></i></h1>
        </div>
      </div>
      <!--WSP THREE-->
      <div class="entity-footer-price entity-selecting" (click)="selectPrice('Three')"
           [ngClass]="{'entity-select':menuEntity.priceThree == selPrice}"
           *ngIf="isHidden(menuEntity.priceThree)">
        <div class="wsp-small">
          <p>{{menuEntity.weightThree}}</p>
        </div>
        <div class="wsp-small">
          <p>{{menuEntity.sizeThree}}</p>
        </div>
        <div class="wsp-medium">
          <h1>{{menuEntity.priceThree}}<i class="fas fa-ruble-sign icon"></i></h1>
        </div>
      </div>
      <!--WSP FOUR-->
      <div class="entity-footer-price entity-selecting" (click)="selectPrice('Four')"
           [ngClass]="{'entity-select':menuEntity.priceFour == selPrice}"
           *ngIf="isHidden(menuEntity.priceFour)">
        <div class="wsp-small">
          <p>{{menuEntity.weightFour}}</p>
        </div>
        <div class="wsp-small">
          <p>{{menuEntity.sizeFour}}</p>
        </div>
        <div class="wsp-medium">
          <h1>{{menuEntity.priceFour}}<i class="fas fa-ruble-sign  icon"></i></h1>
        </div>
      </div>
    </div>
  </div>
</div>
