@import '../../shared/theme/conf';

.company-edit-content{
  width: 100%;
  position: absolute;
  padding: 160px 20% 120px 20%;
  background-color: $card-content-bg;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}
.menu-wrapper {
  width: 30%;
  border-right: 1px solid $divider-color;

  h2{
    font-family: Sandora;
    font-size: 18px;
    color: $bright-coral;
    font-weight: 400;
  }
  .menu-content {
    flex-direction: column;
    font-size: 16px;
    padding-left: 12px;
    max-height: 400px;
    min-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    .menu-group {
      position: relative;
      width: 100%;
      border-top: 0;

      padding: 3px;
      text-align: left;
      .menu-item {
        margin: 3px 0;
        border-radius: 3px;
        padding: 2px 20px;
        min-height: 24px;
        max-height: 24px;
        &:hover {
          cursor: pointer;
          color: $accent-color;
        }
      }
      .menu-icon {
        color: $primary;
      }
      .delete-icon {
        color: $divider-color;
        font-size: 12px;
        &:hover {
          cursor: pointer;
          color: $danger;
        }
      }
    }
    .submenu-group{
      padding: 6px;
      font-size: 13px;
      color : $secondary-text-color;
      .submenu-sel{
        cursor: pointer;
        &:hover{
          color:$accent-color;
        }
      }
      .submenu-item{
        margin-left: 6px;
      }
      .submenu-icon{
        margin-left: 35px;
        color: $primary;
        font-size: 12px;
      }
      .sel-menu{
        font-size: 14px;
        color : $primary-text-color;
      }
    }

  }
}

.city-select{
  padding-left: 150px;
  margin-bottom: 18px;
  select{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $primary-color-light;
    &:focus{
      border: 2px solid transparent;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.dayStart-select{
  padding-left: 150px;
  margin-bottom: 18px;
  select{
    width: 80px;
    background-color: transparent;
    border-bottom: 1px solid $primary-color-light;
    &:focus{
      border: 2px solid transparent;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.dayEnd-select{
  padding-left: 400px;
  margin-bottom: 18px;
  select{
    width: 80px;
    background-color: transparent;
    border-bottom: 1px solid $primary-color-light;
    &:focus{
      border: 2px solid transparent;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.form-control {
  padding: 0 8px;
}
.company-input-content {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}
.btn-grp{
  margin-top: 12px;
  margin-left: -50px;
}

.border-focus{
  border-bottom: 1px solid $primary;
}

.input-box{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 4px;
  .btn-grp{
    padding: 6px;
  }
  .addon-left{
    min-width: 190px;
  }
  span{
    padding-top: 3px;
    height: 28px;
    color: $teal-color;
  }
  input{
    border: 0px;
    border-bottom: 1px solid $primary;
    background-color: $card-content-bg;;
    padding-left: 8px;
    width: 100%;
    height: 28px;
    &::placeholder{
      color: $primary-color-light;
    }
    &:disabled{
      color: $gray-text-color;
      border-bottom: 1px solid $primary-color-light;
    }
    &:focus{
      outline: 0px;
      background-color: $white;
    }
  }
  .check-direction{
    margin-top: -5px;
    font-size: 24px;
    width: 5%;
    border: none!important;
    cursor: pointer;
    .forward{
      border: none!important;
      color: $primary-color;
      &:hover {
        color: $primary;
      }
    }
    .back{
      border: none!important;
      color: $danger;
      &:hover {
        color: $primary;
      }
    }
  }
}

.logo {
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
  img {
    display: block;
    width: auto;
    height: 55px!important;
    min-height: 55px;
  }
}
.control-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 18px;
  background-color: $card-content-bg;;
  border-top: 1px dotted $divider-color ;
  .control-content{
    margin-bottom: 20px;
    label{
      margin-top: 12px;
      font-size: 16px;
      color: $teal-color;
      font-weight: 500;
    }
    select{
      width: 75%;
      background-color: transparent;
      border-bottom: 1px solid $primary-color-light;
     &:focus{
        border: 2px solid transparent;
        border-bottom: 1px solid $primary-color;
      }
    }
    .add-icon{
      margin-left: 10px;
      color: $divider-color;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: $accent-color;
      }
    }
  }


}
