<div class="row>">
  <fast-menu [top]="fastMenuTop" (selectValue)="selectFastMenu($event)"></fast-menu>
  <div class="float-up-icon"  (click)="moveToTop()" [style.opacity]="toUpIconOpacity">
  </div>
  <div class="dish-page-scr" (scroll)="onScrollDiv($event)">
    <section class="dish-page">
      <div class="dish-page-title">
        <p>Крымская Служба Заказа Еды</p>
        <p class="second-line" id="top">{{deliveryCity}}</p>
      </div>
      <div class="dish-page-wrapper" >
        <div class="dish-page-header">
          <div class="left-part">
            <div class="search-input-box">
              <input placeholder="Поиск блюд" type="text">
              <i class="fas fa-search search-icon"></i>
            </div>

          </div>
          <div class="right-part">
            <div class="decity-count">
              <img src="assets/images/pepsi.gif" *ngIf="showPepsi">
              <span *ngIf="!showPepsi">{{dishCountStr}}</span>
            </div>
          </div>
        </div>
        <div class="dish-page-body" >
          <div class="dish-page-body-left">
            <!--Б Л Ю Д А-->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-1">
                <p>БЛЮДА</p>
              </div>
              <div class="dishes-item" *ngFor="let dish of deliveryMenu.menuCategories;let idx = index"
                   [hidden]="!showCategoryItem(idx)">
                <input name="dish-radio" class="radio checkbox-success" type="radio" id="dish-radio-{{dish.id}}" (click)="selectDish(dish)">
                <label class="radio-label" for="dish-radio-{{dish.id}}">{{dish.displayName}}</label>
              </div>
              <div class="dishes-container">
                <span (click)="showAllCategories()">{{categoriesListView}}</span>
              </div>
            </div>
            <!--К У Х Н И-->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-2">
                <p>ЗАВЕДЕНИЯ</p>
              </div>
              <div class="dishes-item" *ngFor="let company of companies;let idx = index"
                   [hidden]="!showCompanyItem(idx)">
                <input class="checkbox checkbox-success" type="checkbox" id="company-checkbox-{{company.id}}" (click)="selectCompany(company)">
                <label class="check-label" for="company-checkbox-{{company.id}}">{{company.displayName}}</label>
              </div>
              <div class="dishes-container">
                <span (click)="showAllCompanies()">{{companyListView}}</span>
              </div>
            </div>
            <!-- О П Л А Т А -->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-2">
                <p>СПОСОБЫ ОПЛАТЫ</p>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-1" (click)="selectPayType(1)">
                <label class="check-label" for="pay-checkbox-1">Наличными</label>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-2" (click)="selectPayType(2)">
                <label class="check-label" for="pay-checkbox-2">Банковской Картой</label>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-3" (click)="selectPayType(3)">
                <label class="check-label" for="pay-checkbox-3">Электронный кошелек</label>
              </div>
              <br>
            </div>
          </div>
          <div  class="dish-page-body-right">
            <div class="company-row-content" *ngFor="let triple of tripleEntities">
              <div class="square-box" *ngIf="triple.entityOne.priceOne != null">
                <company-entity [menuEntity]="triple.entityOne" (selectCompany)="showCompanyDetail($event)">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityTwo.priceOne != null">
                <company-entity [menuEntity]="triple.entityTwo" (selectCompany)="showCompanyDetail($event)">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityThree.priceOne != null">
                <company-entity [menuEntity]="triple.entityThree" (selectCompany)="showCompanyDetail($event)">
                </company-entity>
              </div>
            </div>
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </section>
  </div>
</div>
