<div class="row>">
  <fast-menu [top]="fastMenuTop" (selectValue)="selectFastMenu($event)"></fast-menu>
  <div class="up-icon up-icon-top"  (click)="moveToTop()" [style.opacity]="toUpIconOpacity">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
  </div>
  <div class="dish-page-scr" (scroll)="onScrollDiv($event)">
    <section class="dish-page">
      <div id="top" class="dish-page-title">
        <p>Крымская Служба Заказа Еды</p>
        <p>{{deliveryCity}}</p>
      </div>
      <div class="dish-page-wrapper">
        <div class="dish-page-header">
          <div class="left-part">
            <div class="search-input-box">
              <input placeholder="Поиск блюд" type="text">
              <i class="fas fa-search search-icon"></i>
            </div>

          </div>
          <div class="right-part">
            <div class="decity-count">Показано 0 блюд</div>
          </div>
        </div>
        <div class="dish-page-body">
          <div class="dish-page-body-left">
            <!--Б Л Ю Д А-->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-1">
                <p>БЛЮДА</p>
              </div>
              <div class="dishes-item" *ngFor="let dish of deliveryMenu.menuCategories;let idx = index"
                   [hidden]="!showCategoryItem(idx)">
                <input name="dish-radio" class="checkbox checkbox-success" type="radio" id="dish-radio-{{dish.id}}" (click)="selectDish(dish)">
                <label class="check-label" for="dish-radio-{{dish.id}}">{{dish.displayName}}</label>
              </div>
              <div class="dishes-container">
                <span (click)="showAllCategories()">{{categoriesListView}}</span>
              </div>
            </div>
            <!--К У Х Н И-->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-2">
                <p>ЗАВЕДЕНИЯ</p>
              </div>
              <div class="dishes-item" *ngFor="let company of companies;let idx = index"
                   [hidden]="!showCompanyItem(idx)">
                <input name="company-radio" class="checkbox checkbox-success" type="radio" id="company-radio-{{company.id}}" (click)="selectCompany(company)">
                <label class="check-label" for="company-radio-{{company.id}}">{{company.displayName}}</label>
              </div>
              <div class="dishes-container">
                <span (click)="showAllCompanies()">{{companyListView}}</span>
              </div>
            </div>
            <!-- О П Л А Т А -->
            <div class="dish-page-menu">
              <div class="dish-page-dishes frame-2">
                <p>СПОСОБЫ ОПЛАТЫ</p>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-1" (click)="selectPayType(1)">
                <label class="check-label" for="pay-checkbox-1">Наличными</label>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-2" (click)="selectPayType(2)">
                <label class="check-label" for="pay-checkbox-2">Банковской Картой</label>
              </div>
              <div class="dishes-item">
                <input class="checkbox checkbox-success" type="checkbox" id="pay-checkbox-3" (click)="selectPayType(3)">
                <label class="check-label" for="pay-checkbox-3">Электронный кошелек</label>
              </div>
              <br>
            </div>
            <!-- СБРОСИТЬ ФИЛЬТР-->
            <div class="dish-page-menu" *ngIf="showClearFilter()">
              <div class="clear-filter" (click)="clearFilters( true )">
                <img src="assets/images/icons/cross_red.png">
                <p>Сбросить фильтр</p>
              </div>
              <br>
            </div>
          </div>
          <div class="dish-page-body-right">
            TO-DO
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </section>
  </div>
</div>
