 <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Пользователь" type="text" formControlName="username"
                       id="username" autocomplete="off" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Пароль" formControlName="password"
                     id="pwd" autocomplete="off">
            </mat-form-field></td>
          </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary">Вход</button>
    </mat-card-actions>
  </mat-card>

