<div class="all-page-footer">
  <ng-content></ng-content>
  <div class="all-page-social">
    <div class="row">
      <div class="col-md-2 all-page-social-icon" *ngFor="let socialIcon of socialIcons">
        <img src="{{socialIcon.imagePath}}">
      </div>
    </div>
  </div>
  <span>Еда с доставкой к Вам домой. Проведите уютный вечер дома наслаждаясь лучшими блюдами!</span>
  <div class="about-company">
    <img src="assets/images/logo.png">
    <span><strong style="display: none">ЕдаНяма.рф</strong>ЕдаНяма.рф - Крымская Служба Заказа Еды.</span>
  </div>

</div>
