<!--================MOBILE AREA =================-->
<section class="mobile">
  <div class="paralax-container">
    <span>Легко! Удобно! Вкусно!</span>
  </div>
  <!--================Service Area =================-->
  <div id="bottom" class="mobile-wrapper" >
    <div class="mobile-container" >
      <!--<h2>Заказ еды</h2>-->
      <!--<h2>всегда под рукой</h2>-->
      <div class="mobile-desc">
        <div class="desc-label">
          <p>Заказать любимое блюдо или попробовать что-то новое?</p>
          <p>Сравнивайте, выбирайте, заказывайте!</p>
        </div>
        <div class="desc-img">
          <img src="assets/images/icons/emog-good.png">
        </div>
      </div>
      <div class="mobile-desc">
        <div class="desc-label">
          <p>Вы можете оформить заказ всего в несколько кликов или</p>
          <p>просто позвоните и сделайте заказ по телефону.</p>
        </div>
        <div class="desc-img">
          <img src="assets/images/icons/emog-easy.png">
        </div>
      </div>
      <div class="mobile-desc">
        <div class="desc-label">
          <p>Еда из ресторана с доставкой к Вам домой.</p>
          <p>Проведите уютный вечер дома наслаждаясь лучшими блюдами!</p>
        </div>
        <div class="desc-img">
          <img src="assets/images/icons/emog-yummy.png">
        </div>
      </div>
    </div>
    <div class="mobile-btn-grp">
      <div class="mobile-btn-item main-button" href="#">
        <img src="{{imagePaths.appleSrc}}">
        <div class="mobile-label">
          <p>Скачать</p>
          <p>в <b>APP STORE</b></p>
        </div>
      </div>
      <div class="mobile-btn-item main-button" href="#">
        <img src="{{imagePaths.googleSrc}}">
        <div class="mobile-label">
          <p>Скачать</p>
          <p>в <b>GOOGLE PLAY</b></p>
        </div>
      </div>
      <div class="mobile-btn-item main-button" href="#">
        <img src="{{imagePaths.directSrc}}">
        <div class="mobile-label">
          <p>Прямое</p>
          <p>Скачивание</p>
        </div>
      </div>
    </div>
    <div class="mobile-phone" >
      <img src="{{imagePaths.phoneSrc}}"/>
    </div>
  </div>
<div class="row all-page-footer">
  <ng-content></ng-content>
  <div class="col-md-4 contact-us">
    <h2>Пишите:</h2>
    <span>delivery@edanyma.ru</span>
    <h2>Звоните:</h2>
    <span class="phone">+7978 255 7978</span>
    <h2>
      <img src="assets/images/logo.png">
    </h2>
    <span><strong style="display: none">ЕдаНяма.рф</strong>ЕдаНяма.рф - Крымская Служба Заказа Еды.</span>
   </div>
  <div class="col-md-4 contact-us">
    <h2>Категория заведений:</h2>
    <p>ПИЦЦА</p>
    <p>СУШИ</p>
    <p>БУРГУРЫ</p>
    <p>МАНГАЛ</p>
    <p>WOK</p>
  </div>
  <div class="col-md-4 contact-us">
    <h2>Мы в соцсетях</h2>
    <div class="row">
      <div class="col-md-2 all-page-social-icon" *ngFor="let socialIcon of socialIcons">
        <img src="{{socialIcon.imagePath}}">
      </div>
    </div>
    <h2>Оплата</h2>
    <div class="col-md-2 all-page-social-icon" *ngFor="let payType of payTypeIcons">
      <img src="{{payType.imagePath}}">
    </div>
  </div>

  <!--<div class="all-page-social">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2 all-page-social-icon" *ngFor="let socialIcon of socialIcons">-->
        <!--<img src="{{socialIcon.imagePath}}">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>
</section>
