<div class="first_header">
  <div class="col-md-4 container">
      <a href="#" class="header-left"><i class="fa fa-phone icon"></i>+7 (978) 123 3456</a>
      <a href="#" class="header-left"><i class="far fa-envelope icon"></i>delivery@yummyfood.ru</a>
  </div>
    <div class="col-md-4 container">
      <a href="#" class="header-left"><i class="fas fa-pencil-alt icon"></i>Вход</a>
      <a href="#" class="header-left"><i class="fas fa-sign-in-alt icon"></i>Регистрация</a>
    </div>
  <!--<div class="col-md-4 container">-->
    <!--<div class="social">-->
        <!--<div class="item"><a class="it-facebook" href="#"><i class="fab fa-facebook-f icn"></i></a></div>-->
        <!--<div class="item"><a class="it-twitted" href="#"><i class="fab fa-twitter icn"></i></a></div>-->
        <!--<div class="item"><a class="it-linked" href="#"><i class="fab fa-linkedin-in icn"></i></a></div>-->
        <!--<div class="item"><a class="it-rss" href="#"><i class="fas fa-rss icn"></i></a></div>-->
    <!--</div>-->
  <!--</div>-->
</div>
<header class="main_menu_area">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/logo-1.png" alt=""></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="dropdown submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About US <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="about-us2.html">About Us2</a></li>
            </ul>
          </li>
          <li class="dropdown submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a href="menu-grid.html">Menu Grid</a></li>
              <li><a href="menu-list.html">Menu List</a></li>
            </ul>
          </li>
          <li><a href="gallery.html">Gallery</a></li>
          <li class="dropdown submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a href="event.html">Event</a></li>
              <li><a href="table.html">Table</a></li>
            </ul>
          </li>
          <li class="dropdown submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-gallery.html">Blog Gallery</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact US</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<div class="pages-top">
  <div class="logo">
    <div class="avatar-wrap">
      <div class="avatar">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
    </div>
  </div>

  <!--<div class="logo">-->
  <!--<div class="avatar-wrap">-->
  <!--<div class="avatar">-->
  <!--<img src="{{avatarImgSrc}}" alt="avatar">-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="page-top-menu-container">-->
  <!--<div class="page-top-menu-company" (click)="companyLink()">-->
  <!--<div class="txt">Рестораны</div>-->
  <!--</div>-->
  <!--<div class="page-top-menu-list" (click)="menuLink()">-->
  <!--<div class="txt">Меню</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="company-info-header">

    <table>
      <tr>
        <th>
          <span class="company-title">{{headerTitle}}</span>
          <span [hidden]="showIcon" class="menu-type-title"><i class="fas fa-angle-double-right"></i>
            {{menuType}}
          </span>
          <span [hidden]="showIcon" class="menu-category-title"><i class="fas fa-angle-double-right"></i>
            {{menuCategory}}
          </span>
        </th>
      </tr>
      <tr>
        <th class="company-url">
          <a href="{{companyUrl}}" target="_blank">{{companyUrl}}</a>
        </th>
      </tr>
    </table>
  </div>
  <div class="back-content" [hidden]="companyUrl==null">
    <span class="btn-back-wrap" (click)="companyLink()">
      <img src="{{btnBackImgSrc}}" alt="btnBack">
    </span>
  </div>

</div>
