@import '../../theme/conf';
.pages-top {
    width: 65%;
    margin: auto;
    height: 150px;
    max-height: 150px;
    background: $top-panel-bg;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 0px 2px rgba(0, 0, 0, 0.08);
    z-index: 999;
}

.logo{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.back-content{
  margin-right: 20px;
  padding-top: 20px;
  float: right;
  &:hover{
    cursor: pointer;
    color: $primary;
  }
}

.avatar-wrap {
    margin-left: 20px;
    margin-top: 7px;
    width: 130px;
    height: auto;
    min-height: 130px;
    @include transition(all .4s);
    .avatar {
        overflow: hidden;
        @include transition(all .4s);
        img {
            display: block;
            width: 100%;
        }
    }
}


.collapse-menu {
  margin-top: 12px;
  color: $secondary-text-color;
  font-size: 24px;
  background: $primary-color;
  border-radius: 30px ;
  border: $primary-color-dark;
  cursor: pointer;
  @include center(60px, 60px);
  @include transition(all .2s);
  &:hover {
    color: $primary;
  }
  .toggle-on {
    transform: rotate(0);
    @include transition(all .5s);
  }
  .toggle-off {
    transform: rotate(-270deg);
    @include transition(all .5s);
  }
}
.page-top-menu-container{
  margin-left: 40px;
  color: $teal-color;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  .page-top-menu-company{
    .txt{
      padding-top: 120px;
      text-decoration: underline;
      text-align: center;
    }
    min-width:128px;
    min-height: 128px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/coffe-shop.png") ;
    &:hover{
      cursor:pointer;
      background-image: url("../../../../assets/images/coffe-shop-hover.png");
    }
  }
  .page-top-menu-list{
    .txt{
      padding-top: 120px;
      text-decoration: underline;
      text-align: center;
    }
    margin-left: 40px;
    min-width:128px;
    min-height: 128px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/menu-list.png") ;
    cursor: pointer;
    &:hover{
      cursor:pointer;
      background-image: url("../../../../assets/images/menu-list-hover.png");
    }
  }
}

.company-info-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px ;
  margin-left: 30px;
  .company-title {
    padding-left: 12px;
    font-size: 36px;
    color: $accent-color;
  }
  .menu-type-title {
    padding-left: 12px;
    font-size: 32px;
    color: $primary;
    i {
      font-size: 24px;
    }
  }
  .menu-category-title {
    padding-left: 12px;
    font-size: 26px;
    color: $teal-color;
    i {
      font-size: 18px;
    }
  }
  .company-url {
    padding-left: 12px;
  }
}

@media (max-width:1440px) {
  .menu-wrap {
    width: 210px;
  }
}

@media (max-width:414px) {
    .avatar-wrap {
        width: auto;
        .avatar {
            border-radius: 50px;
        }
        .user-info-wrap {
            display: none;
        }
    }
    .collapse-menu {
        left: 100px;
    }

}



