<div class="logo" [style.opacity]="logoOpacity">
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
  </div>
</div>
<div class="first_header">
  <div class="col-md-4 container">
    <a href="#" class="header-left"><i class="fa fa-phone icon"></i>+7978 255 7978</a>
    <a href="#" class="header-left"><i class="far fa-envelope icon"></i>delivery@edanyma.ru</a>
  </div>
  <div class="col-md-4 container">
    <a class="header-left map" (click)="openCityModal()">
      <i class="fas fa-map-marker-alt"></i>
      <span>{{deliveryCity}}</span>
      <i class="fas fa-caret-down down"></i>
    </a>
    <span class="header-left" (click)="enterPassword()"><i class="fas fa-pencil-alt icon"></i>Вход</span>
    <span class="header-left" (click)="registration()"><i class="fas fa-sign-in-alt icon"></i>Регистрация</span>
  </div>
</div>
<div class="main_menu_area">
  <div class="container">
    <div class="col-6 col-md-4 left-part">
    </div>
    <div class="col-12 col-sm-6 col-md-8 right-part">
      <div class="head-menu-item" *ngFor="let menu of topMenus"
           [ngClass]="{'menu-active':menu.link === selectedLink}" (click)="routeToLink(menu.link)">
        <span class="head-menu-text">{{menu.label}}</span>
      </div>
      <div class="head-menu-item" (click)="showBasket()">
        <div class="head-menu-icon" *ngIf="basketPrice > 0">
          <img src="assets/images/icons/in-basket-rur.png">
          <div class="centered">{{basketPrice}}&nbsp;р.</div>
        </div>

        <div [@animateBasket]='basketState' (click)="showBasket()" class="head-menu-icon icon-hover" *ngIf="basketPrice > 0"
             (@animateBasket.done)="onAnimationEvent($event)">
          <img [src]="basketEntityImage">
        </div>
      </div>
    </div>
  </div>
</div>
<app-dialog [(visible)]="showDialog">
  <div class="app-modal">
    <h2>Выберите город</h2>
    <p>Крымская Служба Доставки Еды</p>
    <strong>Крымская Служба Доставки Еды</strong>
    <div class="row">
      <div class="col-md-4">
        <div class="city-label" *ngFor="let city of cities;let idx = index" [hidden]="idx > 9"
             (click)="selectCity(city)">
          <i class="fas fa-check" [ngClass]="{'city-check': city.displayName === deliveryCity,
            'city-uncheck': city.displayName != deliveryCity}"></i>
          {{city.displayName}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="city-label" *ngFor="let city of cities;let idx = index" [hidden]="idx < 10"
             (click)="selectCity(city)">
          <i class="fas fa-check" [ngClass]="{'city-check': city.displayName === deliveryCity,
            'city-uncheck': city.displayName != deliveryCity}"></i>
          {{city.displayName}}
        </div>
      </div>
    </div>
  </div>
  <!--<button (click)="showDialog = !showDialog" class="btn">Close</button>-->
</app-dialog>
