/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//$custom-typography: mat-typography-config($font-family: '"Roboto", sans-serif;');
//@include mat-core($custom-typography);
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-light-green);
$candy-app-accent:  mat-palette($mat-pink, A200, A400, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

HTML, body {
  margin: 0px!important;
  padding: 0px!important;
  border: 0px!important;
  font-family: Roboto;
}
@font-face {
  font-family: 'Lobster';
  src: url("assets/fonts/lobster.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Regular.ttf"),
       url("assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'B52';
  src: url("assets/fonts/b52.ttf") format("truetype");
}
@font-face {
  font-family: 'Taurus';
  src: url("assets/fonts/taurus.ttf") format("truetype");
}
@font-face {
  font-family: 'Sandora';
  src: url("assets/fonts/a_futuraround.ttf") format("truetype");
}

