@import '../shared/theme/conf';

.page-bg-img {
  overflow: hidden;
  width: 100%;
  @include transition(all .4s);
  background-image: url("../../assets/images/rest.jpg");
  z-index: 0;

}

.pages-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pages-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;

  .pages-content {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    background-color: $card-bg;
    color: $fonts-color;
    width: 100%;
    height:100%;
    margin: auto;
    overflow-x: hidden;
  }
}
