@import "../../theme/conf";
.fast-menu{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  z-index: 9;
  margin-left: -375px;
  left: 50%;
  width: 750px;
  border-radius: 3px;
  padding: 40px 20px;
  height: 130px;
  .fast-menu-item{
    margin: 0px 10px;
    min-width: 130px;
    height: 72px;
    text-align: center;
    background-color: rgba($white,0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    @include transition(all .3s);
    img{
      position: absolute;
      transform: translateX(-50%);
      text-align: center;
      width:96px;
      height: 96px;
      @include transition(all .3s);
      top: 58px;
    }
    .lbl{
      padding-top: 2px;
      font-size: 18px;
      margin-top: 8px;
      font-family: Taurus;
      color: $bright-coral;
      @include transition(all .3s);
      text-transform: uppercase;
    }
    &:hover{
      background-color: rgba($white,0.9);
      cursor: pointer;
      height: 92px;
      img{
        width:112px;
        height: 118px;
        top: -8px;
      }
      .lbl{
        font-size: 22px;
        margin-top: 54px;
      }
    }
  }
  .menu-sel{
    height: 92px;
    img{
      width:112px;
      height: 118px;
      top: -8px;
    }
    .lbl{
      font-size: 22px;
      margin-top: 54px;
    }
  }

  &.with-bg{
    //background: url("../../../../assets/images/back6.jpg") no-repeat fixed top center;
    @include transition(all .6s);
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    left:10%;
    top: 112px;
    width: 130px;
    height: 500px;
  }
}
