@import "../../theme/conf";
.fast-menu{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  z-index: 9;
  //left:50%;
  margin: 0 21%;
  //margin-left: -375px;
  width: 58%;
  border-radius: 3px;
  //background: url("../../../../assets/images/back7.png") ;
  //@include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
  padding: 40px 20px;
  height: 130px;
  .fast-menu-item{
    margin: 0px 10px;
    min-width: 130px;
    height: 72px;
    text-align: center;
    background-color: rgba($white,0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    @include transition(all .3s);
    img{
      position: absolute;
      transform: translateX(-50%);
      text-align: center;
      width:96px;
      height: 96px;
      @include transition(all .3s);
      top: 58px;
    }
    .lbl{
      padding-top: 2px;
      font-size: 18px;
      margin-top: 8px;
      font-family: Taurus;
      color: $bright-coral;
      @include transition(all .3s);
      text-transform: uppercase;
    }
    &:hover{
      cursor: pointer;
      height: 92px;
      img{
        width:112px;
        height: 118px;
        top: -8px;
      }
      .lbl{
        font-size: 22px;
        margin-top: 54px;
      }
    }
  }




}
