@import "../../theme/conf";
.fast-menu{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  z-index: 9;
  margin-left: -375px;
  left: 50%;
  width: 750px;
  border-radius: 3px;
  padding: 40px 20px;
  height: 130px;
  .fast-menu-item{
    margin: 0px 10px;
    min-width: 140px;
    width: 130px;
    height: 72px;
    text-align: center;
    background-color: rgba($white,0.8);
    @include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    @include transition(all .3s);
    img{
      margin-top: -40px;
      position: relative;
      text-align: center;
      width:96px;
      height: 96px;
      @include transition(all .3s);
    }
    .lbl{
      margin-top: -10px;
      font-size: 18px;
      font-family: Taurus;
      color: $bright-coral;
      @include transition(all .3s);
      text-transform: uppercase;
    }
    &:hover{
      background-color: rgba($white,0.9);
      cursor: pointer;
      height: 80px;
      width: 140px;
      img{
        margin-top: 16px;
        width:128px;
        height: 128px;
        @include transition(all .3s);
      }
      .lbl{
        font-size: 22px;
        margin-top: -130px;
      }
    }
  }
  .menu-sel{
    height: 80px;
    width: 140px;
    img{
      margin-top: 16px;
      width:128px;
      height: 128px;
      @include transition(all .3s);
    }
    .lbl{
      font-size: 22px;
      margin-top: -130px;
    }
  }

  &.with-bg{
    //background: url("../../../../assets/images/back6.jpg") no-repeat fixed top center;
    @include transition(all .6s);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 0px;
    left:0;
    top: 150px;
    width: 90px;
    height: 400px;
    .fast-menu-item{
      margin: 3px 0px;
      min-width:72px;
      max-width: 90px;
      height: 64px;
      width: 72px;
      text-align: center;
      background-color: rgba($white,0.4);
      img{
        margin-top: 0px;
        width:64px;
        height: 64px;
        @include transition(all .3s);
      }
      .lbl{
        visibility: hidden;
      }
      &:hover{
        width: 90px;
        height: 64px;
        background-color: rgba($white,0.6);
        img{
          width:64px;
          height: 64px;
          @include transition(all .3s);
        }
        .lbl{
          visibility: hidden;
        }
      }
    }

    .menu-sel{
      width: 90px;
      height: 64px;
      background-color: rgba($card-bg,0.8);
      @include box-shadow( 0 3px 10px 0 rgba($primary-text-color, .7));
      img{
        width:64px;
        height: 64px;
        @include transition(all .3s);
      }
      .lbl{
        visibility: hidden;
      }
    }

  }
}
