<div class="fast-menu" [style.top]="topPos" [style.opacity]="fmOpacity" >
  <div class="fast-menu-item">
    <img src="assets/images/menu/pizza.png">
    <div class="lbl">Пицца</div>
  </div>
  <div class="fast-menu-item">
    <img src="assets/images/menu/sushi.png">
    <div class="lbl">Суши</div>
  </div>
  <div class="fast-menu-item">
    <img src="assets/images/menu/burger.png">
    <div class="lbl">Бургеры</div>
  </div>
  <div class="fast-menu-item">
    <img src="assets/images/menu/shashlik.png">
    <div class="lbl">Шашлыки</div>
  </div>
  <div class="fast-menu-item">
    <div class="lbl">WOK</div>
    <img src="assets/images/menu/wok.png">

  </div>
</div>
