<div class="card card-block login-card">
  <h3 class="form-label">Welcome Back</h3>
  <span class="form-label">sign in to continue to Lines</span>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
      <span class="input-group-addon addon-left" id="username-1">
        <i class="fa fa-user fa-fw"></i>
      </span>
        <input class="form-control with-primary-addon" placeholder="User Account" type="text" formControlName="username"
               id="username" autocomplete="off">
      </div>
      <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
        <input type="password" class="form-control with-primary-addon" placeholder="Password" formControlName="password"
               id="pwd" autocomplete="off">
        <div class="error"
             *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
          Password is required
        </div>
      </div>
      <button class="btn btn-lg btn-primary">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
      <a href="" class="btn btn-link">Register Now. →</a>
    </div>
  </form>
</div>
