<div class="row" [hidden]="loading">
  <div class="up-icon up-icon-top"  (click)="moveTopBottom()" >
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
  </div>
  <div class="compdet-scr" track-scroll (onScroll)="track($event)">
    <section class="compdet">
      <div class="compdet-title">
        <p>Крымская Служба Заказа Еды</p>
        <p>{{companyShort.companyName}}</p>
      </div>
      <div id="top" class="compdet-wrapper">
        <div class="compdet-body">
          <div class="compdet-body-left">
            <div class="add-info">
              <div class="add-info-container">
                <p>
                  Оформить заказ можно ежедневно без выходных:<br>
                  <b>{{companyShort.weekdayWork}}, {{companyShort.dayoffWork}}</b><br>
                  Минимальный заказ - <b>{{companyShort.delivery}}</b><br>
                  Доставка - БЕСПЛАТНО.<br>
                  Не нашли то, что искали?
                  Попробуйте <span (click)="returnToChoice()">заказать доставку еды в г.<b>{{deliveryCity}}</b> </span> в других заведениях.
                </p>
              </div>
            </div>
            <!--М Е Н Ю-->
            <div class="compdet-menu">
              <div class="success-btn-item main-button" (click)="returnToChoice()">
                <img src="assets/images/icons/restaurant-white.png">
                <div class="mobile-label">
                  <p>ВЫБОР ЗАВЕДЕНИЯ</p>
                </div>
              </div>
              <div class="compdet-dishes">
                <p>МЕНЮ ЗАВЕДЕНИЯ</p>
              </div>
              <div class="search-input-box">
                <input placeholder="Поиск по меню" type="text">
                <i class="fas fa-search search-icon"></i>
              </div>
              <div class="menutype-item" *ngFor="let menuType of menuTypes">
                <label>{{menuType.displayName}}</label>
                <div class="menucategory-item" [ngClass]="{'menucategory-item-selected': isMenuActive( menuCategory.id )}"
                     *ngFor="let menuCategory of menuType.menuCategories"
                                      (click)="selectMenuCategory(menuType,menuCategory)">
                  <label>{{menuCategory.displayName}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="compdet-body-right">
            <company-card [company]="companyShort" [isDetailInfo]=true></company-card>
            <div class="compdet-menu-title">{{selMenuCategory.displayName}}&nbsp;от&nbsp;{{companyShort.companyName}}</div>
            <div class="company-row-content" *ngFor="let triple of tripleEntities">
              <div class="square-box" *ngIf="triple.entityOne.priceOne != null">
                <company-entity [menuEntity]="triple.entityOne">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityTwo.priceOne != null">
                <company-entity [menuEntity]="triple.entityTwo">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityThree.priceOne != null">
                <company-entity [menuEntity]="triple.entityThree">
                </company-entity>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
