@import '../../shared/theme/conf';
@import 'company-detail.component.media';
.compdet-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.compdet {
  background: url("../../../assets/images/back6.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: auto;
  .compdet-title{
    text-align: center;
    width: 100%;
    height: 450px;
    background: url("../../../assets/images/back-head-3.jpg") no-repeat fixed top center;
    padding-top: 145px;
    p{
      color: $white;
      text-shadow: 1px 1px 1px $black;
      font-family: "Lobster" !important;
      font-size: 42px;
      font-weight: 500;
      &.second-line{
        margin-top: 150px;
      }
    }
  }
  .compdet-wrapper{
    background-color: transparent;
    width: 60%;
    height: 120%;
    margin: 0 auto;
    padding-top: 20px;
    .compdet-body{
      width: 100%;
      display: flex;
      flex-direction: row;
      .compdet-body-left{
        flex-direction: column;
        .add-info{
          width: 270px;
          height: 175px;
          margin-left: 20px;
          margin-bottom: 20px;
          border-radius: 3px;
          padding: 10px;
          background-color: $card-content-bg;
          @include box-shadow( 0 1px 1px 1px rgba($teal-color, .3));
          .add-info-container{
            width: 250px;
            height: 155px;
            padding: 6px;
            background-color: $gray-bkg-color;
            p{
              color: $gray-text-color;
              font-family: Roboto;
              font-size: 12px;
              span{
                color: $bright-coral;
                text-decoration: underline;
                &:hover{
                  cursor: pointer;
                  text-decoration: none;
                }
              }

            }
          }
        }
      }
      .compdet-body-right{
        width: 100%;
        flex-direction: column;
        padding: 0px 10px 0px 25px;
        .company-row-content{
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;
          .square-box{
            position: relative;
            width: 34%;
            overflow: hidden;
          }
          .square-box:before{
            content: "";
            display: block;
            padding-top: 100%;
          }
        }
      }
      .compdet-menu-title{
        margin: 20px 0px 8px 8px;
        font-family: Sandora;
        font-size: 24px;
        font-weight: 600;
      }
    }
    .compdet-menu{
      width: 270px;
      height: auto;
      margin-left: 20px;
      padding-bottom: 20px;
      //border: 1px solid $card-border;
      background-color: $card-content-bg;
      @include box-shadow( 0 1px 1px 1px rgba($teal-color, .3));
      transition: 500ms;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      .compdet-dishes{
        text-align: center;
        width:250px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
        background-image: url("../../../assets/images/menu/frame.png");
        p{
          margin-top: 8px;
          font-family: Taurus;
          color: $primary-text-color;
          font-size: 18px;
          font-weight: 400;
        }
      }

      .menutype-item{
        color: $bright-coral;
        padding: 6px 16px;
        text-align: left;
        label{
          font-family: Roboto-Condensed;
          font-weight: 400;
          font-size: 18px;
        }
      }
      .menucategory-item{
        color: $teal-color;
        padding: 1px 6px;
        text-align: left;
        border-left: 3px solid transparent;
        img{
          margin-left: 6px;
          width: 24px;
          height: 24px;
        }
        label{
          font-family: Roboto-Condensed;
          font-weight: 300;
          font-size: 16px;
          border-bottom: 1px dotted $teal-color;
          &:hover{
            cursor:pointer;
            color: $primary-text-color;
            border-bottom: 1px solid transparent;
            font-weight: 400;
          }
        }
      }
      .menucategory-item-selected{
        border-left: 3px solid $bright-coral;
        label{
          font-weight: 600;
        }
      }
    }
  }
}
.float-up-icon{
  position: absolute;
  background-image: url("../../../assets/images/icons/up-circle.png");
  width: 60px;
  height: 60px;
  z-index: 25;
  top: 78%;
  left: 15%;
  @include transition(all .4s);
  &:hover{
    cursor: pointer;
    background-image: url("../../../assets/images/icons/up-circle-hover.png");
  }
}
