<div class="row" [hidden]="loading">
  <fast-menu [top]="fastMenuTop" (selectValue)="selectFastMenu($event)"></fast-menu>
  <div class="up-icon up-icon-top" (click)="moveToTop()" [style.opacity]="toUpIconOpacity">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
  </div>
  <div class="compdet-scr" (scroll)="onScrollDiv($event)">
    <section class="compdet">
      <div class="compdet-title" >
        <p>Крымская Служба Заказа Еды</p>
        <p class="second-line">{{companyDetail.displayName}}</p>
      </div>
      <div class="compdet-wrapper">
        <div class="compdet-body">
          <div class="compdet-body-left">
            <div class="add-info">
              <div class="add-info-container">
                <p>
                  Оформить заказ можно ежедневно:<br>
                  <strong>{{companyDetail.weekdayWork}}, {{companyDetail.dayoffWork}}</strong><br>
                  Минимальный заказ - <b>{{companyDetail.delivery}}</b><br>
                  Доставка - БЕСПЛАТНО.<br>
                  Не нашли то, что искали?
                  Попробуйте <span (click)="returnToChoice()">заказать доставку еды в г.<b>{{deliveryCity}}</b> </span>
                  в других заведениях.
                </p>
              </div>
            </div>
            <!--М Е Н Ю-->
            <div class="compdet-menu">
              <div class="menu-btn-item accent-mbti main-button" (click)="returnToChoice()">
                <img src="assets/images/icons/restaurant-white.png">
                <div class="mobile-label">
                  <p>ВЫБОР ЗАВЕДЕНИЯ</p>
                </div>
              </div>
              <div class="menu-btn-item azure-mbti main-button" (click)="editCompany()" *ngIf="isRoleAdmin()">
                <img src="assets/images/icons/restaurant-edit.png">
                <div class="mobile-label">
                  <p>РЕДАКТИРОВАНИЕ</p>
                </div>
              </div>
              <div class="menu-btn-item azure-mbti main-button" (click)="parseCompany()" *ngIf="isRoleAdmin()">
                <img src="assets/images/icons/restaurant-parse.png">
                <div class="mobile-label">
                  <p>ПАРСИНГ</p>
                </div>
              </div>
              <div class="compdet-dishes">
                <p>МЕНЮ ЗАВЕДЕНИЯ</p>
              </div>
              <div class="search-input-box">
                <input placeholder="Поиск по меню" type="text">
                <i class="fas fa-search search-icon"></i>
              </div>
              <div class="menutype-item" *ngFor="let menuType of menuTypes">
                <label>{{menuType.displayName}}</label>
                <div class="menucategory-item"
                     [ngClass]="{'menucategory-item-selected': isMenuActive( menuCategory.id )}"
                     *ngFor="let menuCategory of menuType.menuCategories"
                     (click)="selectMenuCategory(menuType,menuCategory, true)">
                  <label>{{menuCategory.displayName}}</label>
                  <img src="assets/images/icons/in-basket.png" *ngIf="isMenuInBasket( menuCategory.id )">
                </div>
              </div>
            </div>
          </div>
          <div class="compdet-body-right" id="top">
            <company-card [company]="companyDetail" [isDetailInfo]=true></company-card>
            <div class="compdet-menu-title">{{categoryDisplayName}}&nbsp;{{companyDetail.displayName}}
            </div>
            <div class="company-row-content" *ngFor="let triple of tripleEntities">
              <div class="square-box" *ngIf="triple.entityOne.priceOne != null">
                <company-entity [menuEntity]="triple.entityOne">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityTwo.priceOne != null">
                <company-entity [menuEntity]="triple.entityTwo">
                </company-entity>
              </div>
              <div class="square-box" *ngIf="triple.entityThree.priceOne != null">
                <company-entity [menuEntity]="triple.entityThree">
                </company-entity>
              </div>
            </div>
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </section>
  </div>
</div>
