@import '../../shared/theme/conf';
@import '../../shared/theme/pagination';

.company-info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $card-bg;
  padding: 10px 0;
  .company-title {
    padding-left: 12px;
    font-size: 36px;
    color: $accent-color;
  }
  .menu-type-title {
    padding-left: 12px;
    font-size: 32px;
    color: $primary;
    i {
      font-size: 24px;
    }
  }
  .menu-category-title {
    padding-left: 12px;
    font-size: 26px;
    color: $teal-color;
    i {
      font-size: 18px;
    }
  }
  .company-url {
    padding-left: 12px;
  }
}

.btn-back-wrap {
  cursor: pointer;
  margin: 12px 12px 0px 12px;
  width: 34px;
}

.logo-wrap {
  margin-left: 12px;
}

.menu-wrapper {
  margin-top: 10px;
  background-color: $card-bg;
  max-height: 600px;
  min-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid $divider-color;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  .menu-content {
    flex-direction: column;
    font-size: 16px;
    padding-left: 12px;
    .menu-group {
      position: relative;
      width: 100%;
      border-top: 0;

      padding: 3px;
      text-align: left;
      .menu-item {
        margin: 3px 0;
        border-radius: 3px;
        padding: 2px 20px;
        min-height: 24px;
        max-height: 24px;
        &:hover {
          cursor: pointer;
          color: $accent-color;
        }
      }
      .menu-icon {
        color: $primary;
      }
    }
    .submenu-group{
      padding: 6px;
      font-size: 13px;
      color : $secondary-text-color;
      .submenu-sel{
        cursor: pointer;
        &:hover{
         color:$accent-color;
        }
      }
      .submenu-item{
        margin-left: 6px;
      }
      .submenu-icon{
        margin-left: 35px;
        color: $primary;
        font-size: 12px;
      }
      .sel-menu{
        font-size: 14px;
        color : $primary-text-color;
      }
    }

  }
}

.entity-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  img {
    border: transparent;
    border-radius: 10px;
    height: 100px !important;
  }

  .description {
    padding: 3px;
    position: relative;
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .entity-title {
    font-weight: bold;
    color: $accent-color;
  }
  .wsp-wrap {
    padding: 3px;
    text-align: left;
  }
  .wsp-td{
    border-top: 0px!important;
    vertical-align: top!important;
    padding-left: 20px!important;
    padding-top: 10px!important;
  }
  .wsp {
    text-align: left;
    font-size: 11px;
    color: $secondary-text-color;
    margin-right: 6px;
  }
  .weight-size {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: $primary-text-color;
    padding: 4px;
  }

  .price {
    font-size: 18px;
    font-weight: bolder;
    color: $primary-color-text;
    @extend .bg-success;
    border-radius: 4px;
    padding: 4px;
  }
}

.form-control {
  padding: 0 8px;
}
.tab-parsing {
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: $card-bg;
  border: 1px solid red;
}
