<simple-notifications [options]="notiOptions"></simple-notifications>
<div class="row" [hidden]="loading" *ngIf="companyInfo != null">
  <tabset id="company-info-tab" theme="justified">
    <tab-content for="company-info-tab" tabTitle="Меню" [active]="true">
      <div class="menu-wrapper">
        <div id="type-menu" class="menu-content col-md-3">
          <div class="menu-group">
            <div *ngFor="let menuType of companyInfo.menuTypes">
          <span class="menu-icon" *ngIf="!menuType.menuOpen">
            <i class="far fa-folder"></i>
          </span>
              <span class="menu-icon" *ngIf="menuType.menuOpen">
            <i class="far fa-folder-open"></i>
          </span>
              <span class="menu-item" (click)="menuTypeSelect(menuType)">
            {{menuType.displayName}}
          </span>
              <div class="submenu-group" [hidden]="!menuType.menuOpen">
                <div *ngFor="let menuCategory of menuType.menuCategories" class="submenu-sel"
                     (click)="menuCategorySelect( menuType, menuCategory)">
              <span class="submenu-icon">
                <i class="far fa-file"></i>
              </span>
                  <span [className]="menuCategory.id === selMenuCategory.id ? 'submenu-item sel-menu' : 'submenu-item'">
                  {{menuCategory.displayName}}
              </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--TABLE-->
        <div class="entity-wrapper" *ngIf="menuEntities != null">
          <div class="col-md-10" >
              <table class="table table-hover" >
                <tr
                  *ngFor="let menuEntity of menuEntities;let index = index">
                  <td class="hidden-cell">{{menuEntity.id}}</td>
                  <td class="col-md-2" style="border-top: 0px!important;">
                    <img src="{{menuEntity.imageUrl}}" alt="{{menuEntity.imageUrl}}">
                    <div class="entity-title">{{menuEntity.displayName}}</div>
                  </td>
                  <td class="wsp-td">
                    <div class="description"><strong>{{menuEntity.description}}</strong></div>
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="col-md-2 wsp-wrap">
                          <div class="wsp-cont" *ngIf="menuEntity.weightOne">
                            <div class="wsp">Вес:</div>
                            <div class="weight-size">{{menuEntity.weightOne}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.sizeOne">
                            <div class="wsp">Размер:</div>
                            <div class="weight-size">{{menuEntity.sizeOne}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.priceOne">
                            <div class="wsp">Цена:</div>
                            <div class="price">{{menuEntity.priceOne}}&nbsp;Р</div>
                          </div>
                        </td>
                        <td class="col-md-2 wsp-wrap">
                          <div class="wsp-cont" *ngIf="menuEntity.weightTwo">
                            <div class="wsp">Вес:</div>
                            <div class="weight-size">{{menuEntity.weightTwo}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.sizeTwo">
                            <div class="wsp">Размер:</div>
                            <div class="weight-size">{{menuEntity.sizeTwo}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.priceTwo">
                            <div class="wsp">Цена:</div>
                            <div class="price">{{menuEntity.priceTwo}}&nbsp;Р</div>
                          </div>
                        </td>
                        <td class="col-md-2 wsp-wrap">
                          <div class="wsp-cont" *ngIf="menuEntity.weightThree">
                            <div class="wsp">Вес:</div>
                            <div class="weight-size">{{menuEntity.weightThree}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.sizeThree">
                            <div class="wsp">Размер:</div>
                            <div class="weight-size">{{menuEntity.sizeThree}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.priceThree">
                            <div class="wsp">Цена:</div>
                            <div class="price">{{menuEntity.priceThree}}&nbsp;Р</div>
                          </div>
                        </td>
                        <td class="col-md-2 wsp-wrap">
                          <div class="wsp-cont" *ngIf="menuEntity.weightFour">
                            <div class="wsp">Вес:</div>
                            <div class="weight-size">{{menuEntity.weightFour}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.sizeFour">
                            <div class="wsp">Размер:</div>
                            <div class="weight-size">{{menuEntity.sizeFour}}</div>
                          </div>
                          <div class="wsp-cont" *ngIf="menuEntity.priceFour">
                            <div class="wsp">Цена:</div>
                            <div class="price">{{menuEntity.priceFour}}&nbsp;Р</div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </tab-content>
    <tab-content for="company-info-tab" tabTitle="Настройка парсинга" *ngIf="menuEntities != null">
      <div class="row tab-parsing">
        <div class="col-md-6">
          <form [formGroup]="parseForm" (ngSubmit)="onSubmit()">
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" [ngClass]="{'border-focus':!isControlHidden('parseUrl')}"
                    id="parseUrl" (click)="inputControlClick('parseUrl')">
              <span [hidden]="isControlHidden('parseUrl')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('parseUrl')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Парсим</span>
              <input placeholder="" type="text" formControlName="parseUrl">
              <span class="input-group-addon-teal-right itr-start" (click)="undoControl('parseUrl')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyControl('parseUrl')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
             <span class="input-group-addon-teal addon-left" id="prefixUrl" [ngClass]="{'border-focus':!isControlHidden('prefixUrl')}"
                   (click)="inputControlClick('prefixUrl')">
              <span [hidden]="isControlHidden('prefixUrl')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('prefixUrl')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Префикс (URL)</span>
              <input placeholder="" type="text" formControlName="prefixUrl">
              <span class="input-group-addon-teal-right itr-start" (click)="undoControl('prefixUrl')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyControl('prefixUrl')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagTrash-id" [ngClass]="{'border-focus':!isControlHidden('tagTrash')}"
                    (click)="inputControlClick('tagTrash')">
              <span [hidden]="isControlHidden('tagTrash')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagTrash')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Лишний заголовок</span>
              <input placeholder="" type="text" formControlName="tagTrash">
              <span class="input-group-addon-teal-right itr-start" (click)="undoControl('tagTrash')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyControl('tagTrash')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
             <span class="col-md-2 input-group-addon-teal addon-left" id="tagEndSection-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagEndSection')}" (click)="inputControlClick('tagEndSection')">
              <span [hidden]="isControlHidden('tagEndSection')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagEndSection')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Границы блока</span>
              <input placeholder="" type="text" formControlName="tagEndSection">
              <span class="input-group-addon-teal-right itr-start" (click)="undoControl('tagEndSection')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyControl('tagEndSection')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagName-id" [ngClass]="{'border-focus':!isControlHidden('tagName')}"
                    (click)="inputControlClick('tagName','split')">
              <span [hidden]="isControlHidden('tagNameStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagNameStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Имя</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagNameStart">&nbsp;
              <input style="width: 5%" placeholder="" type="text" formControlName="tagNameEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="sel-dname-id" formControlName="tagNameDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="sel-ename-id" formControlName="tagNameEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagName')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagName')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagDescription-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagDesc')}" (click)="inputControlClick('tagDesc','split')">
              <span [hidden]="isControlHidden('tagDescStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagDescStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Описание</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagDescStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagDescEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control"  formControlName="tagDescDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagDescE-id" formControlName="tagDescEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagDesc')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagDesc')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
             <span class="input-group-addon-teal addon-left" id="tagImageUrl-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagImgUrl')}" (click)="inputControlClick('tagImgUrl','split')">
              <span [hidden]="isControlHidden('tagImgUrlStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagImgUrlStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;URL изображения</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagImgUrlStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagImgUrlEnd">&nbsp;
              <div class="tag-select" >
                <select class="form-control" id="tagImgUrlDir-id" formControlName="tagImgUrlDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select" >
                <select class="form-control" id="tagImgUrlE-id" formControlName="tagImgUrlEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagImgUrl')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagImgUrl')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
             <span class="input-group-addon-teal addon-left" id="tagWeightOne-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagWeightOne')}" (click)="inputControlClick('tagWeightOne','split')">
              <span [hidden]="isControlHidden('tagWeightOneStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagWeightOneStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Вес </span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagWeightOneStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagWeightOneEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagWeightOneDir-id" formControlName="tagWeightOneDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagWeightOneE-id" formControlName="tagWeightOneEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagWeightOne')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagWeightOne')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagSizeOne-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagSizeOne')}" (click)="inputControlClick('tagSizeOne','split')">
              <span [hidden]="isControlHidden('tagSizeOneStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagSizeOneStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Размер</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagSizeOneStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagSizeOneEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagSizeOneDir-id" formControlName="tagSizeOneDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagSizeOneE-id" formControlName="tagSizeOneEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagSizeOne')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagSizeOne')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagPriceOne-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagPriceOne')}" (click)="inputControlClick('tagPriceOne','split')">
              <span [hidden]="isControlHidden('tagPriceOneStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagPriceOneStart')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;Цена</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagPriceOneStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagPriceOneEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" formControlName="tagPriceOneDirection" id="tagPriceOneDir-id" formControlName="tagPriceOneDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" formControlName="tagPriceOneEntry" id="tagPriceOneE-id" formControlName="tagPriceOneEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagPriceOne')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagPriceOne')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagWeightTwo-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagWeightTwo')}" (click)="inputControlClick('tagWeightTwo','split')">
              <span [hidden]="isControlHidden('tagWeightTwoStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagWeightTwoStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Вес 2</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagWeightTwoStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagWeightTwoEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagWeightTwoDir-id" formControlName="tagWeightTwoDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagWeightTwoE-id" formControlName="tagWeightTwoEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagWeightTwo')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagWeightTwo')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagSizeTwo-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagSizeTwo')}" (click)="inputControlClick('tagSizeTwo','split')">
              <span [hidden]="isControlHidden('tagSizeTwoStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagSizeTwoStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Размер 2</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagSizeTwoStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagSizeTwoEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagSizeTwoDir-id" formControlName="tagSizeTwoDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagSizeTwoE-id" formControlName="tagSizeTwoEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagSizeTwo')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagSizeTwo')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagPriceTwo-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagPriceTwo')}" (click)="inputControlClick('tagPriceTwo','split')">
              <span [hidden]="isControlHidden('tagPriceTwoStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagPriceTwoStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Цена 2</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagPriceTwoStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagPriceTwoEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagPriceTwoDir-id" formControlName="tagPriceTwoDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagPriceTwoE-id" formControlName="tagPriceTwoEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagPriceTwo')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagPriceTwo')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagWeightThree-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagWeightThree')}" (click)="inputControlClick('tagWeightThree','split')">
              <span [hidden]="isControlHidden('tagWeightThreeStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagWeightThreeStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Вес 3</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagWeightThreeStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagWeightThreeEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagWeightThreeDir-id" formControlName="tagWeightThreeDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagWeightThreeE-id" formControlName="tagWeightThreeEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagWeightThree')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagWeightThree')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagSizeThree-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagSizeThree')}" (click)="inputControlClick('tagSizeThree','split')">
              <span [hidden]="isControlHidden('tagSizeThreeStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagSizeThreeStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Размер 3</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagSizeThreeStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagSizeThreeEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagSizeThreeDir-id" formControlName="tagSizeThreeDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagSizeThreeE-id" formControlName="tagSizeThreeEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagSizeThree')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagSizeThree')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagPriceThree-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagPriceThree')}" (click)="inputControlClick('tagPriceThree','split')">
              <span [hidden]="isControlHidden('tagPriceThreeStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagPriceThreeStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Цена 3</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagPriceThreeStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagPriceThreeEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagPriceThreeDir-id" formControlName="tagPriceThreeDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagPriceThreeE-id" formControlName="tagPriceThreeEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagPriceThree')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagPriceThree')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagWeightFour-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagWeightFour')}" (click)="inputControlClick('tagWeightFour','split')">
              <span [hidden]="isControlHidden('tagWeightFourStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagWeightFourStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Вес 4</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagWeightFourStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagWeightFourEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagWeightFourDir-id" formControlName="tagWeightFourDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagWeightFourE-id" formControlName="tagWeightFourEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagWeightFour')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagWeightFour')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagSizeFour-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagSizeFour')}" (click)="inputControlClick('tagSizeFour','split')">
              <span [hidden]="isControlHidden('tagSizeFourStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagSizeFourStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Размер 4</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagSizeFourStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagSizeFourEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagSizeFourDir-id" formControlName="tagSizeFourDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagSizeFourE-id" formControlName="tagSizeFourEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagSizeFour')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagSizeFour')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="tagPriceFour-id"
                  [ngClass]="{'border-focus':!isControlHidden('tagPriceFour')}" (click)="inputControlClick('tagPriceFour','split')">
              <span [hidden]="isControlHidden('tagPriceFourStart')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('tagPriceFourStart')"><i
                class="fa fa-lock"></i></span>&nbsp;&nbsp;Цена 4</span>
              <input style="width: 85%" placeholder="" type="text" formControlName="tagPriceFourStart">&nbsp;
              <input style="width: 5%"placeholder="" type="text" formControlName="tagPriceFourEnd">&nbsp;
              <div class="tag-select">
                <select class="form-control" id="tagPriceFourDir-id" formControlName="tagPriceFourDirection">
                  <option *ngFor="let direct of directions" [value]="direct.value">{{direct.display}}</option>
                </select>
              </div>
              <div class="tag-select">
                <select class="form-control" id="tagPriceFourE-id" formControlName="tagPriceFourEntry">
                  <option *ngFor="let entry of entries" [value]="entry">{{entry}}</option>
                </select>
              </div>
              <span class="input-group-addon-teal-right itr-start" (click)="undoTag('tagPriceFour')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyTag('tagPriceFour')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box">
              <span class="input-group-addon-teal addon-left" id="htmlResponse-id"
                  [ngClass]="{'border-focus':!isControlHidden('htmlResponse')}" (click)="inputControlClick('htmlResponse')">
              <span [hidden]="isControlHidden('htmlResponse')"><i class="fa fa-lock-open"></i></span>
              <span [hidden]="!isControlHidden('htmlResponse')"><i class="fa fa-lock"></i></span>&nbsp;&nbsp;HTML ответ</span>
              <input placeholder="" type="text" formControlName="htmlResponse">
              <span class="input-group-addon-teal-right itr-start" (click)="undoControl('htmlResponse')" ><i class="fas fa-undo-alt"></i></span>
              <span class="input-group-addon-teal-right itr-end" (click)="copyControl('htmlResponse')"><i class="far fa-copy"></i></span>
            </div>
            <div class="input-box" style="float: right">
              <div class="btn-grp">
                <button type="button" class="btn btn-success btn-with-icon" (click)="saveParseModel()">
                  <i class="fa fa-check fa-fw"></i>Запись
                </button>
              </div>
              <div class="btn-grp">
                <button type="button" class="btn btn-info btn-with-icon" (click)="testParseModel()">
                  <i class="fa fa-forward fa-fw"></i>Тест
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 test-parse">
          <table class="table table-hover" *ngIf="testEntities != null">
            <tr *ngFor="let testEntity of testEntities ;let index = index">
              <td class="hidden-cell">{{testEntity.id}}</td>
              <td class="col-md-6" style="border-top: 0px!important;">
                <div class="test-img">
                  <img src="{{testEntity.imageUrl}}" alt="{{testEntity.imageUrl}}">
                  <div class="entity-title">{{testEntity.displayName}}</div>
                </div>
                <div class="description"><strong>{{testEntity.description}}</strong></div>
                <div class="entity-wrapper" >
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="col-md-2 wsp-wrap">
                        <div class="wsp-cont" *ngIf="testEntity.weightOne">
                          <div class="wsp">Вес:</div>
                          <div class="weight-size">{{testEntity.weightOne}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.sizeOne">
                          <div class="wsp">Размер:</div>
                          <div class="weight-size">{{testEntity.sizeOne}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.priceOne">
                          <div class="wsp">Цена:</div>
                          <div class="price">{{testEntity.priceOne}}&nbsp;Р</div>
                        </div>
                      </td>
                      <td class="col-md-2 wsp-wrap">
                        <div class="wsp-cont" *ngIf="testEntity.weightTwo">
                          <div class="wsp">Вес:</div>
                          <div class="weight-size">{{testEntity.weightTwo}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.sizeTwo">
                          <div class="wsp">Размер:</div>
                          <div class="weight-size">{{testEntity.sizeTwo}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.priceTwo">
                          <div class="wsp">Цена:</div>
                          <div class="price">{{testEntity.priceTwo}}&nbsp;Р</div>
                        </div>
                      </td>
                      <td class="col-md-2 wsp-wrap">
                        <div class="wsp-cont" *ngIf="testEntity.weightThree">
                          <div class="wsp">Вес:</div>
                          <div class="weight-size">{{testEntity.weightThree}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.sizeThree">
                          <div class="wsp">Размер:</div>
                          <div class="weight-size">{{testEntity.sizeThree}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.priceThree">
                          <div class="wsp">Цена:</div>
                          <div class="price">{{testEntity.priceThree}}&nbsp;Р</div>
                        </div>
                      </td>
                      <td class="col-md-2 wsp-wrap">
                        <div class="wsp-cont" *ngIf="testEntity.weightFour">
                          <div class="wsp">Вес:</div>
                          <div class="weight-size">{{testEntity.weightFour}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.sizeFour">
                          <div class="wsp">Размер:</div>
                          <div class="weight-size">{{testEntity.sizeFour}}</div>
                        </div>
                        <div class="wsp-cont" *ngIf="testEntity.priceFour">
                          <div class="wsp">Цена:</div>
                          <div class="price">{{testEntity.priceFour}}&nbsp;Р</div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </tab-content>
  </tabset>

</div>




