@import '../../shared/theme/conf';
@import '../../shared/theme/pagination';

.tbl-brd{
  border: 2px solid red!important;
}
.menu-wrapper {
  position: relative;
  background-color: $card-bg;
  height: 600px;
  max-height: 600px;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  .menu-content {
    flex-direction: column;
    font-size: 16px;
    padding-left: 8px;
    .menu-group {
      position: relative;
      width: 100%;
      border-top: 0;

      padding: 3px;
      text-align: left;
      .menu-item {
        margin: 3px 0;
        border-radius: 3px;
        padding: 2px 20px;
        min-height: 24px;
        max-height: 24px;
        &:hover {
          cursor: pointer;
          color: $accent-color;
        }
      }
      .menu-icon {
        color: $primary;
      }
    }
    .submenu-group{
      padding: 6px;
      font-size: 13px;
      color : $secondary-text-color;
      .submenu-sel{
        cursor: pointer;
        &:hover{
         color:$accent-color;
        }
      }
      .submenu-item{
        margin-left: 6px;
      }
      .submenu-icon{
        margin-left: 35px;
        color: $primary;
        font-size: 12px;
      }
      .sel-menu{
        font-size: 14px;
        color : $primary-text-color;
      }
    }

  }
}

.entity-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  img {
    border: transparent;
    border-radius: 10px;
    height: 100px !important;
  }

  .description {
    padding: 3px;
    position: relative;
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .entity-title {
    font-weight: bold;
    color: $accent-color;
  }
  .wsp-wrap {
    width: 25%;
    padding: 3px;
    text-align: left;
    margin: auto;
  }
  .wsp-wrap-center{
    padding: 3px;
    text-align: center;
    margin-bottom: 4px;
  }
  .wsp-td{
    border-top: 0px!important;
    vertical-align: top!important;
    padding-left: 20px!important;
    padding-top: 10px!important;
  }
  .wsp-cont{
    width: 150px;
    min-width: 110px;
  }
  .wsp {
    font-size: 12px;
    line-height: 28px;
    color: $secondary-text-color;
  }
  .weight-size {
    font-size: 16px;
    font-weight: 600;
    color: $primary-text-color;
    padding: 0px 3px;
  }
  .price {
    font-size: 18px;
    font-weight: bolder;
    width: 40%;
    color: $primary-color-text;
    @extend .bg-success;
    border-radius: 4px;
    padding: 0px 3px;
  }
}

.form-control {
  padding: 0 8px;
}
.tab-parsing {
  position: relative;
  top:-10px;
  left:-10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $card-bg;
  padding: 10px;
}

.border-focus{
  border-bottom: 1px solid $primary;
}

.input-box{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 4px;
  .btn-grp{
    padding: 6px;
  }
  .addon-left{
    min-width: 150px;
  }
  span{
    padding-top: 3px;
    height: 28px;
    color: $teal-color;
  }
  input{
    border: 0px;
    border-bottom: 1px solid $primary;
    background-color: $card-bg;
    padding-left: 8px;
    width: 100%;
    height: 28px;
    &:disabled{
      color: $secondary-text-color;
      border-bottom: 1px solid $primary-color-light;
    }
  }
  .check-direction{
    margin-top: -5px;
    font-size: 24px;
    width: 5%;
    border: none!important;
    cursor: pointer;
    .forward{
      border: none!important;
      color: $primary-color;
      &:hover {
        color: $primary;
      }
    }
    .back{
      border: none!important;
      color: $danger;
      &:hover {
        color: $primary;
      }
    }
  }
}

.test-parse{
  border-left: 1px solid $divider-color;
  height: 750px;
  max-height: 750px;
  margin-left: 6px;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.test-img{
  color: $accent-color;
  font-size: 16px;
  img{
    max-height: 150px;
    border: 1px solid $divider-color;
    border-radius: 8px;
  }
}

.tag-select{
  select{
    width: 55px;
    margin-top: -5px;
    background-color: transparent;
    border-bottom: 1px solid $primary-color-light;
    font-size: 12px;
    font-weight: bold;
    &:focus{
      border: 2px solid transparent;
      border-bottom: 1px solid $primary-color;
    }
  }
}
.test-wsp{
  margin: auto;
}
