<div class="row" [hidden]="loading" *ngIf="companyInfo != null">
  <div class="company-info-header">
  <span class="btn-back-wrap" (click)="back()">
    <img src="{{btnBackImgSrc}}" alt="btnBack">
  </span>
    <table>
      <tr>
        <th>
          <span class="company-title">{{headerTitle}}</span>
          <span [hidden]="showIcon" class="menu-type-title"><i  class="fas fa-angle-double-right"></i>
            {{selMenuType.displayName}}
          </span>
          <span [hidden]="showIconCat" class="menu-category-title"><i  class="fas fa-angle-double-right"></i>
            {{selMenuCategory.displayName}}
          </span>
        </th>
      </tr>
      <tr>
        <th class="company-url">
          <a href="{{companyInfo.companyModel.url}}" target="_blank">{{companyInfo.companyModel.url}}</a>
        </th>
      </tr>
    </table>
  </div>
  <div class="menu-wrapper" >
    <div id="type-menu" class="menu-content col-md-3">
      <!--<div class="menu-title">Характеристика</div>-->
      <div class="menu-group">
        <div *ngFor="let menuType of companyInfo.menuTypes">
          <span class="menu-icon" *ngIf="menuType.id != selMenuType.id">
            <i class="far fa-folder"></i>
          </span>
          <span class="menu-icon" *ngIf="menuType.id === selMenuType.id">
            <i class="far fa-folder-open"></i>
          </span>
          <span class="menu-item" (click)="menuTypeSelect(menuType)">
          <!--<span class="menu-icon" *ngIf="menuType.id === selMenuType.id">-->
            <!--<i class="fa fa-check menu-ico"></i>-->
          <!--</span>-->
            <!--<span class="menu-icon-transparent" *ngIf="menuType.id != selMenuType.id">-->
            <!--<i class="fa fa-check menu-ico"></i>-->
          <!--</span>-->
            {{menuType.displayName}}
          </span>
        </div>
      </div>
    </div>
    <div id="category-menu" class="col-6 col-md-4 menu-content" *ngIf="selMenuType != null">
      <div class=" menu-title category">Категория</div>
      <div class=" menu-group category-group">
        <div *ngFor="let menuCategory of menuCategoryList">
          <div class="menu-item item-category" (click)="menuCategorySelect(menuCategory)">
          <span class="menu-icon icon-category" *ngIf="menuCategory.id === selMenuCategory.id">
            <i class="fa fa-check menu-ico"></i>
          </span>
            <span class="menu-icon-transparent" *ngIf="menuCategory.id != selMenuCategory.id">
            <i class="fa fa-check menu-ico"></i>
          </span>
            {{menuCategory.displayName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row entity-wrapper" *ngIf="menuEntities != null">
    <div class="col-md-12">
      <card>
        <table class="table table-bordered table-hover">
          <tbody>
          <tr *ngFor="let menuEntity of menuEntities | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td class="hidden-cell">{{menuEntity.id}}</td>
            <td>
              <img src="{{menuEntity.imageUrl}}" alt="{{menuEntity.imageUrl}}">
              <div class="entity-title">{{menuEntity.displayName}}</div>
            </td>
            <td valign="top">
              <div class="description"><strong>{{menuEntity.description}}</strong></div>
              <div class="wsp-wrap">
                <span *ngIf="menuEntity.weightOne"><span class="wsp">Вес:</span><span class="weight-size">{{menuEntity.weightOne}}</span></span>
                <span *ngIf="menuEntity.sizeOne"><span class="wsp">Размер:</span><span class="weight-size">{{menuEntity.sizeOne}}</span></span>
                <span *ngIf="menuEntity.priceOne"><span class="wsp">Цена:</span><span class="price">{{menuEntity.priceOne}}&nbsp;Р</span></span>
              </div>
              <div class="wsp-wrap">
                <span *ngIf="menuEntity.weightTwo"><span class="wsp">Вес:</span><span class="weight-size">{{menuEntity.weightTwo}}</span></span>
                <span *ngIf="menuEntity.sizeTwo"><span class="wsp">Размер:</span><span class="weight-size">{{menuEntity.sizeTwo}}</span></span>
                <span *ngIf="menuEntity.priceTwo"><span class="wsp">Цена:</span><span class="price">{{menuEntity.priceTwo}}&nbsp;Р</span></span>
              </div>
              <div class="wsp-wrap">
                <span *ngIf="menuEntity.weightThree"><span class="wsp">Вес:</span><span class="weight-size">{{menuEntity.weightThree}}</span></span>
                <span *ngIf="menuEntity.sizeThree"><span class="wsp">Размер:</span><span class="weight-size">{{menuEntity.sizeThree}}</span></span>
                <span *ngIf="menuEntity.priceThree"><span class="wsp">Цена:</span><span class="price">{{menuEntity.priceThree}}&nbsp;Р</span></span>
              </div>
              <div class="wsp-wrap">
                <span *ngIf="menuEntity.weightFour"><span class="wsp">Вес:</span><span class="weight-size">{{menuEntity.weightFour}}</span></span>
                <span *ngIf="menuEntity.sizeFour"><span class="wsp">Размер:</span><span class="weight-size">{{menuEntity.sizeFour}}</span></span>
                <span *ngIf="menuEntity.priceFour"><span class="wsp">Цена:</span><span class="price">{{menuEntity.priceFour}}&nbsp;Р</span></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <form class="pagination-wrapper">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                 autoHide="false" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </form>
      </card>
    </div>

  </div>




