<div class="row">
  <div class="float-up-icon" (click)="moveToTop()" [style.opacity]="toUpIconOpacity">
  </div>
  <div class="basket-scr" (scroll)="onScrollDiv($event)">
    <section class="basket">
      <div id="top" class="basket-title">
        <p>Крымская Служба Заказа Еды</p>
        <p>Ваш Заказ</p>
      </div>
      <div class="basket-wrapper">
        <div class="basket-body">
          <div class="basket-body-left">
            <div class="basket-info">
              <div class="basket-info-container">
                <h2>ЕдаНяма.рф</h2>
                <div class="contacts">
                  <p><i class="fa fa-phone icon"></i>+7978 255 7978</p>
                  <p><i class="far fa-envelope icon"></i>delivery@yummy-eat.ru</p>
                </div>
                <div class="price-by-name" *ngFor="let basket of customerBasket" [ngClass]="{'disable':!basket.orderPosible}">
                  <span class="span-left" (click)="showCompanyDetail(basket.company.id)">{{basket.company.displayName}}</span>
                  <span class="span-right">{{basket.price}}&nbsp;р.</span>
                </div>
                <div class="price-by-name bordered" *ngIf="basketPrice > 0">
                  <span class="span-left">Итого к оплате:</span>
                  <span class="span-right">{{basketPrice}}&nbsp;р.</span><br>
                  <div class="button-div">
                    <button type="button" class="btn btn-success btn-with-icon" [disabled]="!enableOrder" (click)="finishOrder()">
                      <i class="fas fa-shopping-cart"></i>&nbsp;ОФОРМИТЬ ЗАКАЗ
                    </button>
                  </div>
                  <span class="an-else" *ngIf="customerBasket.length < 3">
                    Что-нибудь еще ?<br>
                    Попробуйте <span (click)="showCompanies()">заказать доставку еды </span> в других заведениях.
                  </span>
                </div>

                <div class="price-by-name " *ngIf="basketPrice == 0">
                  <span class="span-center">Не нашли то, что искали?</span><br>
                  <span class="span-center">Попробуйте заказать доставку еды </span>
                  <div class="span-center delivery" (click)="showCompanies()" >В ДРУГИХ ЗАВЕДЕНИЯХ</div>
                </div>
             </div>
            </div>
          </div>
          <div class="basket-body-right">
            <basket-company *ngFor="let basket of customerBasket"
                             [basket]="basket" (showCompany)="showCompanyDetail($event)">
            </basket-company>
            <div id="finish-order-id">
              <finish-order  [(ourClient)]="ourClient" [(orderBasket)]="customerBasket" *ngIf="showFinishOrder"></finish-order>
            </div>
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </section>
  </div>
</div>
