@import '../../shared/theme/conf';

.basket-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.basket {
  background: url("../../../assets/images/back6.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: auto;
  .basket-title {
    text-align: center;
    width: 100%;
    height: 265px;
    background: url("../../../assets/images/pizza.jpg") no-repeat fixed top center;
    padding-top: 125px;
    p {
      color: $white;
      width: available;
      text-shadow: 1px 1px 1px $black;
      font-family: "Lobster" !important;
      font-size: 42px;
      font-weight: 500;
    }
  }
  .basket-wrapper {
    background-color: transparent;
    width: 60%;
    //height: 120%;
    min-height: 550px;
    margin: 0 auto;
    padding-top: 20px;
    .basket-body {
      width: 100%;
      display: flex;
      flex-direction: row;
      .basket-body-left {
        width: 280px;
        padding-right: 10px;
        .basket-info {
          width: 270px;
          height: 275px;
          margin-bottom: 20px;
          border-radius: 3px;
          padding: 10px;
          background-color: $card-content-bg;
          @include box-shadow(0 1px 1px 1px rgba($teal-color, .3));
          .basket-info-container {
            width: 250px;
            height: 255px;
            padding: 6px;
            background-color: $gray-bkg-color;
            text-align: center;
            h2 {
              margin: 4px 0px 8px 8px;
              font-family: Lobster;
              color: $dark-green;
              font-size: 36px;
              font-weight: 400;
            }
            .contacts {
              border-bottom: 1px dotted $divider-color;
              padding: 6px 0;
              p {
                font-size: 12px;
                font-weight: 400;
                color: $teal-color;
                .icon {
                  font-size: 11px;
                  color: $bright-coral;
                  margin-right: 6px;
                }
              }
              transition: all 400ms linear 0s;
            }
            p {
              color: $gray-text-color;
              font-family: Roboto;
              font-size: 12px;
              span {
                color: $bright-coral;
                text-decoration: underline;
                &:hover {
                  cursor: pointer;
                  text-decoration: none;
                }
              }
            }
            .price-by-name {
              height: 18px;
              margin: 4px 0px;
              font-size: 14px;
              &.disable{
                .span-left {
                  color: $secondary-text-color;
                }
                .span-right {
                  color: $secondary-text-color;
                }
              }
              &.bordered {
                border-top: 1px dotted $divider-color;
                font-size: 16px;
                font-weight: 600;
                .span-left {
                  color: $dark-green;
                }
                .span-right {
                  color: $dark-green;
                }
                margin-top: 8px;
                padding-top: 8px;
                .an-else{
                  margin-top: 4px;
                  color: $secondary-text-color;
                  font-family: Roboto;
                  font-weight: normal;
                  font-size: 12px;
                  span{
                    color: $bright-coral;
                    text-decoration: underline;
                    &:hover{
                      cursor: pointer;
                      text-decoration: none;
                    }
                  }
                }
              }

              .span-left {
                font-family: Sandora;
                float: left;
                color: $bright-coral;
                &:hover {
                  cursor: pointer;
                }
              }
              .span-center {
                font-family: Sandora;
                color: $bright-coral;
                font-weight: 400;
                &.delivery{
                  font-weight: 300;
                  margin: 12px 0px;
                  border-bottom: 1px dotted transparent;
                  &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
              .span-right {
                font-family: B52;
                font-weight: 400;
                color: $teal-color;
                float: right;
              }
            }
          }
        }
      }
      .basket-body-right {
        width: 100%;
        padding-left: 10px;
      }
    }
  }
  &:before {
    content: "";
    //background: rgba($green-bg, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

}
