@import '../../shared/theme/conf';
.basket-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.basket{
  background: url("../../../assets/images/back6.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: auto;
  .basket-title{
    text-align: center;
    width: 100%;
    height: 250px;
    background: url("../../../assets/images/pizza.jpg") no-repeat fixed top center;
    padding-top: 125px;
    p{
      color: $white;
      width: available;
      text-shadow: 1px 1px 1px $black;
      font-family: "Lobster" !important;
      font-size: 42px;
      font-weight: 500;
    }
  }
  .basket-wrapper {
    background-color: transparent;
    width: 60%;
    height: 120%;
    margin: 0 auto;
    padding-top: 20px;
    .basket-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      .basket-info{
        width: 270px;
        height: 175px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 3px;
        padding: 10px;
        background-color: $card-content-bg;
        @include box-shadow( 0 1px 1px 1px rgba($teal-color, .3));
        .basket-info-container{
          width: 250px;
          height: 155px;
          padding: 6px;
          background-color: $gray-bkg-color;
          .h2{
            margin: 20px 0px 8px 8px;
            font-family: Sandora;
            font-size: 24px;
            font-weight: 600;
          }
          p{
            color: $gray-text-color;
            font-family: Roboto;
            font-size: 12px;
            span{
              color: $bright-coral;
              text-decoration: underline;
              &:hover{
                cursor: pointer;
                text-decoration: none;
              }
            }

          }
        }
      }

    }


  }
  &:before{
    content: "";
    //background: rgba($green-bg, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

}
