@import '../../shared/theme/conf';

.basket-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.basket {
  background: url("../../../assets/images/back6.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: auto;
  .basket-title {
    text-align: center;
    width: 100%;
    height: 265px;
    background: url("../../../assets/images/pizza.jpg") no-repeat fixed top center;
    padding-top: 125px;
    p {
      color: $white;
      width: available;
      text-shadow: 1px 1px 1px $black;
      font-family: "Lobster" !important;
      font-size: 42px;
      font-weight: 500;
    }
  }
  .basket-wrapper {
    background-color: transparent;
    width: 60%;
    //height: 120%;
    min-height: 550px;
    margin: 0 auto;
    padding-top: 20px;
    .basket-body {
      width: 100%;
      display: flex;
      flex-direction: row;
      .basket-body-left {
        width: 280px;
        padding-right: 10px;
        .basket-info {
          width: 270px;
          height: 330px;
          margin-bottom: 20px;
          border-radius: 3px;
          padding: 10px;
          background-color: $card-content-bg;
          @include box-shadow(0 1px 1px 1px rgba($teal-color, .3));
          .basket-info-container {
            width: 250px;
            height: 310px;
            padding: 6px;
            background-color: $gray-bkg-color;
            text-align: center;
            h2 {
              margin: 4px 0px 8px 8px;
              font-family: Lobster;
              color: $dark-green;
              font-size: 36px;
              font-weight: 400;
            }
            .contacts {
              border-bottom: 1px dotted $divider-color;
              padding: 6px 0;
              p {
                font-size: 12px;
                font-weight: 400;
                color: $teal-color;
                .icon {
                  font-size: 11px;
                  color: $bright-coral;
                  margin-right: 6px;
                }
              }
              transition: all 400ms linear 0s;
            }
            p {
              color: $gray-text-color;
              font-family: Roboto;
              font-size: 12px;
              span {
                color: $bright-coral;
                text-decoration: underline;
                &:hover {
                  cursor: pointer;
                  text-decoration: none;
                }
              }
            }
            .price-by-name {
              height: 18px;
              margin: 4px 0px;
              font-size: 14px;
              &.disable{
                .span-left {
                  color: $secondary-text-color;
                }
                .span-right {
                  color: $secondary-text-color;
                }
              }
              &.bordered {
                border-top: 1px dotted $divider-color;
                font-size: 16px;
                font-weight: 600;
                .span-left {
                  color: $dark-green;
                }
                .span-right {
                  color: $dark-green;
                }
                margin-top: 8px;
                padding-top: 8px;
                .an-else{
                  margin-top: 4px;
                  color: $secondary-text-color;
                  font-family: Roboto;
                  font-weight: normal;
                  font-size: 12px;
                  span{
                    color: $bright-coral;
                    text-decoration: underline;
                    &:hover{
                      cursor: pointer;
                      text-decoration: none;
                    }
                  }
                }
              }

              .span-left {
                font-family: Sandora;
                float: left;
                color: $bright-coral;
                &:hover {
                  cursor: pointer;
                }
              }
              .span-center {
                font-family: Sandora;
                color: $bright-coral;
                font-weight: 400;
                &.delivery{
                  font-weight: 300;
                  margin: 12px 0px;
                  border-bottom: 1px dotted transparent;
                  &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
              .span-right {
                font-family: B52;
                font-weight: 400;
                color: $teal-color;
                float: right;
              }
            }
            .button-div{
              margin: 8px 0px;
            }
          }
        }
      }
      .basket-body-right {
        width: 100%;
        padding-left: 10px;
        .issued-order-container{
          margin-bottom: 20px;
          width: 100%;
          @include box-shadow(0 1px 1px 1px rgba($teal-color, .3));
          background-color: $card-content-bg;
          border-radius: 3px;
          .issued-order {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            .io-left {
              justify-items: left;
              img {
                width: 205px;

              }
            }
            .io-right{
              justify-items: right;
              img{
                width: 205px;
                height: 495px;

              }
            }
            .io-center{
              width:100%;
              text-align: center;
              p{
                font-family: Roboto-Condensed;
                font-size: 22px;
                font-weight: 400;
                color: $primary-text-color;
                text-transform: uppercase;
                padding: 6px 10px;
              }
              h2{
                font-family: B52;
                font-size: 24px;
                font-weight: 400;
                color: $dark-green;
              }
              .just-text{
                font-family: Roboto-Condensed;
                color: $teal-color;
                font-size: 14px;
                span{
                  color: $bright-coral;
                  font-size: 16px;
                  font-weight: 600;
                }
                &.with-margin{
                  margin: 12px 0px;
                }
              }
              .share-friend{
                margin: 24px 0px;
                padding-top: 24px;
                @include shadow-radial();
                font-family: Roboto;
                color: $primary-text-color;
                font-size: 12px;
                font-weight: 400;
              }
              .wallet-div{
                width: 100%;
                padding: 24px 0px;
                text-align: center;
                p{
                  font-family: B52;
                  font-size: 18px;
                  color: $bright-coral;
                }
                border: 1px dotted $bright-coral;
              }
            }
          }
        }
      }
    }
  }
  &:before {
    content: "";
    //background: rgba($green-bg, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
.float-up-icon{
  position: absolute;
  background-image: url("../../../assets/images/icons/up-circle.png");
  width: 60px;
  height: 60px;
  z-index: 25;
  top: 78%;
  left: 15%;
  @include transition(all .4s);
  &:hover{
    cursor: pointer;
    background-image: url("../../../assets/images/icons/up-circle-hover.png");
  }
}

.social-icon{
  display: flex;
  flex-direction: row;
  z-index: 21;
  justify-content: center;
  .si {
    font-size: 18px;
    min-width: 36px;
    min-hight: 36px;
    padding-top: 6px;
    width: 36px;
    height: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    margin-right: 6px;
    &:hover {
      cursor: pointer;
    }
  }
   .si-facebook {
    background: #3B5998;
    color: white;
  }
  .si-twitter {
    background: #55ACEE;
    color: white;
  }
  .si-vk {
    background: #074E71;
    color: white;
  }
  .si-odnoklassniki {
    background: #FF8400;
    color: white;
  }

}
