@import '../mixin';

//Material
$primary-color-dark:   #F8D0AF;
$primary-color:        #ff6f61;
$primary-color-light:  #EDE9EF;
$teal-color:  #3B6A75;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #959595;
$divider-color:        #BDBDBD;

//Warm and Wonderful
$sky: #7CDBD5;
$bright-coral: #F53240;
$golden: #F9BE02;
$aquamarin: #02C8A7;

$azure: #77CBE3;
$sky-blue: #93C4EF;
$porcelain: #E2E1D9;
$tan: #B88568;

$green-bg: #8bc34a;
$dark-green: #008323;


$white:#fff;
$card-border:#e4e3e3;
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#FBF6F2;

$top-panel-bg: $primary-color-dark;
$sidebar-bg: $primary-color;
$sidebar-fonts-color: $teal-color;
$page-top-fonts-color: $primary-color-text;



$black:#000;
$card-bg:#FAFAFA;
//$card-bg:#FBF6F2;

$border-color:rgba($black, .1);
$table-border-color:rgba($black, .2);
$fonts-color:#26253c;
$primary:#fca400;
$success:#16be9a;
$danger:#fa5167;
$warning:#ff7403;
$info:#2cc3ff;


.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary-color-dark, $primary-color);
}

.bg-success {
    @include linear-gradient(to top right,  rgba($dark-green,0.7), rgba($green-bg,0.9) );
}

.bg-gray {
  @include linear-gradient(to top right, $secondary-text-color, $divider-color);
}

.bg-primary-light {
  @include linear-gradient(to top right, $primary-color-light, $primary-color);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fda09c);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fac980);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}

/*font Variables*/
$can: 'Cantata One', serif;
$op: 'Open Sans', sans-serif;
$vib: 'Great Vibes', cursive;
