@import '../../shared/theme/conf';
@import 'company.component.media';
.kabare-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kabare {
  background: url("../../../assets/images/back6.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: auto;
  .kabare-title{
    text-align: center;
    width: 100%;
    height: 450px;
    background: url("../../../assets/images/back-head-2.jpg") no-repeat fixed top center;
    padding-top: 145px;
    p{
      color: $white;
      text-shadow: 1px 1px 1px $black;
      font-family: "Lobster" !important;
      font-size: 42px;
      font-weight: 500;
    }
  }
  .kabare-wrapper{
    background-color: transparent;
    width: 60%;
    height: 120%;
    margin: 0 auto;
    padding-top: 20px;
    .kabare-header{
      margin: 0px 0px 20px 20px;
      width: 97%;
      height: 60px;
      line-height: 60px;
      background-color: $card-content-bg;
      border-radius: 2px;
      @include box-shadow( 0 1px 1px 1px rgba($teal-color, .3));
      display: flex;
      flex-direction: row;
      //align-items: center;
      .right-part{
        width: 100%;
        margin-left: 35px;
        display: flex;
        flex-direction: row;
        .decity-count{
          font-family: Sandora;
          color: $primary-text-color;
          font-size: 24px;
          font-weight: 600;
          float: left;
        }
        .right-part-content{
          margin-top: 10px;
          padding-left: 15px;
          margin-left: auto;
        }

      }
      .left-part{
        width: 300px;
      }
    }
    .kabare-body{
      width: 100%;
      display: flex;
      flex-direction: row;
      .kabare-body-left{
        flex-direction: column;
      }
      .kabare-body-right{
        width: 100%;
        flex-direction: column;
        padding: 0px 10px 10px 25px;
      }
    }
    .kabare-menu{
      width: 270px;
      height: auto;
      margin-left: 20px;
      margin-bottom: 20px;
      background-color: $card-content-bg;
      @include box-shadow( 0 1px 1px 1px rgba($teal-color, .3));
      transition: 500ms;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      .clear-filter{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 16px;
        img{
          width: 16px;
          height: 16px;
        }
        p{
          color: $bright-coral;
          font-family: Roboto-Condensed;
          font-size: 14px;
          border-bottom: 1px dotted $bright-coral;
          margin-left: 6px;
          &:hover{
            border-bottom: 1px dotted transparent;
            cursor: pointer;
          }
        }

      }
      .kabere-dishes{
        text-align: center;
        width:250px;
        height: 40px;
        margin-left: 10px;
        p{
          font-family: Taurus;
          margin-top: 8px;
          color: $primary-text-color;
          font-size: 18px;
          font-weight: 400;
        }
      }
      .frame-1{
        background-image: url("../../../assets/images/menu/frame-1.png");
      }
      .frame-2{
        background-image: url("../../../assets/images/menu/frame.png");
      }
      .frame-3{
        background-image: url("../../../assets/images/menu/frame-2.png");
      }
      .dishes-item{
        color: $teal-color;
        padding: 6px 16px;
        text-align: left;
        label{
          font-family: Roboto-Condensed;
          font-weight: 200!important;
          font-size: 16px;
        }
      }
      .dishes-container{
        text-align: left;
        margin: 12px 0px;
        span{
          font-family: Roboto-Condensed;
          font-size: 14px;
          color: $accent-color;
          text-align: left;
          padding: 0px 16px;
          &:hover{
            cursor: pointer;
            color: $bright-coral;
            text-decoration: underline;
          }
        }
      }
    }

  }
  &:before{
    content: "";
    //background: rgba($green-bg, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

}


