<div class="row>">
  <div class="kabare-scr">
    <section class="kabare">
      <div id="top" class="kabare-wrapper">
        <div class="kabare-header">
          <div class="left-part">
            <h2>КРЫМСКАЯ СЛУЖБА ЗАКАЗА ЕДЫ</h2>
          </div>
          <div class="right-part">
            <div class="input-box">
              <div class="row">
                <input placeholder="Название Заведения" type="text">
                <i class="fas fa-search-dollar search-icon"></i>
              </div>
              <switch switchId="single2" fromStr="ВСЕ" toStr="ОТКРЫТЫЕ" switchW="250px" switchH="40px"></switch>
            </div>
          </div>
        </div>
        <div class="kabare-menu">
          <div class="kabere-dishes">
            БЛЮДА
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--<loading [loading]="loading"></loading>-->
<!--formControlName="tagEndSection"-->

