<div class="row>">
  <div class="kabare-scr">
    <section class="kabare">
      <div id="top" class="kabare-wrapper">
        <div class="kabare-title">
          <h2>Крымская Служба Заказа Еды</h2>
        </div>
        <div class="kabare-header">
          <div class="left-part">
            <div class="input-box">
              <div class="row">
                <input placeholder="поиск" type="text">
                <i class="fas fa-search search-icon"></i>
              </div>
            </div>
          </div>
          <div class="right-part">
            <div class="right-part-content">
              <switch switchId="single2" fromStr="ВСЕ" toStr="ОТКРЫТЫЕ" switchW="250px" switchH="40px"></switch>
            </div>
          </div>
        </div>
        <!--Б Л Ю Д А-->
        <div class="kabare-menu">
          <div class="kabere-dishes">
            <p>БЛЮДА</p>
          </div>
            <div class="dishes-item" *ngFor="let dish of deliveryMenu.menuCategories;let idx = index"
                 [hidden]="!showCategoryItem(idx)">
              <input class="checkbox checkbox-success" type="checkbox" id="dish-checkbox-{{idx}}">
              <label class="check-label" for="dish-checkbox-{{idx}}">{{dish.displayName}}</label>
            </div>
          <div class="dishes-container">
            <span (click)="showAllCategories()">{{categoriesListView}}</span>
          </div>
        </div>
        <!--К У Х Н И-->
        <div class="kabare-menu">
          <div class="kabere-dishes">
            <p>КУХНИ</p>
          </div>
          <div class="dishes-item" *ngFor="let dish of deliveryMenu.menuTypes;let idx = index"
               [hidden]="!showTypesItem(idx)">
            <input class="checkbox checkbox-success" type="checkbox" id="kitchen-checkbox-{{idx}}">
            <label class="check-label" for="kitchen-checkbox-{{idx}}">{{dish.displayName}}</label>
          </div>
          <div class="dishes-container">
            <span (click)="showAllTypes()">{{typesListView}}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--<loading [loading]="loading"></loading>-->
<!--formControlName="tagEndSection"-->

