@import '../../shared/theme/conf';
@import 'company.component.media';
.kabare-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kabare {
  background: url("../../../assets/images/back4.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-top: 112px;
  .kabare-wrapper{
    background-color: $card-bg;
    width: 70%;
    margin: 0 15%;
    height:1400px!important;
    .kabare-header{
      width: 100%;
      padding-top: 20px;
      line-height: 60px;
      display: flex;
      flex-direction: row;
      //align-items: center;
      .left-part{
        width: 55%;
        text-align: left;
        h2{
          font-family: "Lobster" !important;
          padding-left: 20px;
          font-size: 38px;
          font-weight: 400;
        }
      }
      .right-part{
        width: 45%;
        padding-right: 20px;
        .input-box{
          //background-color: rgba($green-bg,0.1);
          border-radius: 6px;
          padding-top: -10px;
          float: right;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          input{
            border: 0px;
            border-bottom: 1px solid $primary-color-light;
            background-color: transparent;
            padding-left: 8px;
            text-align: right;
            width: 250px;
            height: 32px;
            &:focus{
              border: none!important;
              background-color: $white;
            }
          }
          .search-icon{
            width: 30px;
            color: $teal-color;
            cursor: pointer;
            margin-left: 10px;
            padding-top: 4px;
            font-size: 22px;
          }
        }
      }
    }
    .kabare-menu{
      width: 270px;
      height: 600px;
      margin-left: 20px;
      margin-top: -30px;
      border: 1px solid rgba( $green-bg, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      //@include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
      .kabere-dishes{
        text-align: center;
        width:250px;
        height: 80px;
        background-image: url("../../../assets/images/menu/frame.png");
      }
    }
  }
  &:before{
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

}


