@import '../../shared/theme/conf';
@import 'company.component.media';
.kabare-scr {
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kabare {
  background: url("../../../assets/images/back4.jpg") no-repeat fixed top center;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .kabare-wrapper{
    background-color: $card-bg;
    width: 70%;
    height: 120%;
    margin: 0 15%;

    .kabare-title{
      text-align: center;
      width: 100%;
      height: 200px;
      background: url("../../../assets/images/comapany-header.jpg") no-repeat fixed top center;
      h2{
        padding-top: 138px;
        color: $white;
        text-shadow: 1px 1px 1px $black;
        font-family: "Lobster" !important;
        font-size: 38px;
        font-weight: 400;
      }
    }
    .kabare-header{
      width: 100%;
      height: 60px;
      line-height: 60px;
      display: flex;
      flex-direction: row;
      //align-items: center;
      .right-part{
        width: 50%;
        margin-top: 10px;
        .right-part-content{
          margin-right: 20px;
          float: right;
          display: flex;
          flex-direction: column;
        }

      }
      .left-part{
        width: 50%;
        .input-box{
          //background-color: rgba($green-bg,0.1);
          border-radius: 6px;
          float: left;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          input{
            border: 0px;
            border-bottom: 1px solid $primary-color-light;
            background-color: transparent;
            padding-left: 8px;
            text-align: right;
            width: 240px;
            height: 32px;
            &:focus{
              border: none!important;
              background-color: $white;
            }
          }
          .search-icon{
            width: 30px;
            color: $teal-color;
            font-weight: 400;
            cursor: pointer;
            margin-left: 6px;
            padding-top: 4px;
            font-size: 22px;
          }
        }
      }
    }
    .kabare-menu{
      width: 270px;
      height: 100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      margin-left: 20px;
      margin-bottom: 40px;
      border: 1px solid $card-border;
      @include box-shadow( 0 1px 4px 0 rgba($teal-color, .5));
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      //@include box-shadow( 0 3px 10px 0 rgba($teal-color, .5));
      .kabere-dishes{
        text-align: center;
        width:250px;
        height: 40px;
        background-image: url("../../../assets/images/menu/frame.png");
        display: flex;
        flex-direction: column;
        p{
          font-family: "Lobster" !important;
          margin-top: 8px;
          color: $primary-text-color;
          font-size: 18px;
          font-weight: 400;
        }
        .dishes-item{
          color: $teal-color;
          padding: 6px 16px;
          text-align: left;
          label{
            font-family: Roboto-Condensed;
            font-weight: 200!important;
            font-size: 16px;
          }
        }
        span{
          font-family: Roboto-Condensed;
          font-size: 14px;
          color: $accent-color;
          text-align: left;
          padding: 6px 16px;
          &:hover{
            cursor: pointer;
            color: $bright-coral;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &:before{
    content: "";
    background: rgba($green-bg, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

}


