<ng-container>
  <!--<input type="checkbox" placeholder="Открытые" class="switch" id="{{switchId}}" name="{{switchName}}" [checked]="checked !== undefined">-->
  <div class="switch" [style.width]='switchW' [style.height]='switchH'>
    <p (click)="switch(false)" [ngClass]="{'sw-select':!checked}">{{fromStr}}</p>
    <div class="toggle"  [ngClass]="{'on':checked}">
      <div class="switcher" [ngClass]="{'off':!checked}">
        <img src="assets/images/icons/switch-1.png"/>
      </div>
    </div>
    <p (click)="switch(true)" [ngClass]="{'sw-select':checked}">{{toStr}}</p>
  </div>
</ng-container>

